sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/model/changesummary/quoteDataWithCS.xsd

<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0,
    or the Eclipse Distribution License v. 1.0 which is available at
    http://www.eclipse.org/org/documents/edl-v10.php.

    SPDX-License-Identifier: EPL-2.0 OR BSD-3-Clause

-->

<xsd:schema targetNamespace="www.example.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sdoJava="commonj.sdo/java" xmlns:sdo="commonj.sdo" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns="www.example.com">
    <xsd:element name="quoteData" type="quoteType"/>
    <xsd:complexType name="quoteType">
        <xsd:sequence>
            <xsd:element name="lineItem" type="quoteItem" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="relatedQuoteItem" type="quoteItem" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="changeSummary" type="sdo:ChangeSummaryType" minOccurs="0" sdo:propertyType="sdo:ChangeSummaryType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="quoteItem">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:string" minOccurs="0"/>
            <xsd:element name="cost" type="xsd:string" minOccurs="0"/>
            <xsd:element name="quantity" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
