sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/model/changesummary/team_csroot.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.example.org"
            xmlns:sdo="commonj.sdo"
            targetNamespace="http://www.example.org"
            elementFormDefault="unqualified"
            attributeFormDefault="unqualified">

    <xsd:element name="team" type="Team"/>

     <xsd:complexType name="Address">
        <xsd:sequence>
            <xsd:element name="street" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- xsd:complexType name="Employee">
        <xsd:sequence>
            <xsd:element name="employee" type="EmployeeType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType-->

    <xsd:complexType name="Employee">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:string" minOccurs="0"/>
            <xsd:element name="name" type="xsd:string" minOccurs="0"/>
            <xsd:element name="address" type="Address" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Team">
        <xsd:sequence>
            <xsd:element name="manager" type="Employee"/>
            <xsd:element name="myChangeSummary" type="sdo:ChangeSummaryType"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>

