moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/typemappinginfo/object/employee.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="someuri" targetNamespace="someuri">
   <xsd:complexType name="employee">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="name" type="xsd:string"/>
         <xsd:element minOccurs="0" name="id" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="response" type="xsd:anyType"/>
   <xsd:element name="employee" type="ns0:employee"/>
</xsd:schema>