moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/xmlinverseref/bidirectional.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="person">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="name" type="xsd:string"/>
         <xsd:element minOccurs="0" name="addr" type="address"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="address">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="street" type="xsd:string"/>
         <xsd:element minOccurs="0" name="owner" type="person"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="person" type="person"/>
   <xsd:element name="address" type="address"/>
</xsd:schema>
