sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/helper/xsdhelper/define/elements/ElementWithMaxOccurance.xsd

<?xml version='1.0' encoding='US-ASCII'?>
     <xsd:schema 
            xmlns:xsd='http://www.w3.org/2001/XMLSchema'
	    xmlns='http://www.example.org'
	    xmlns:sdo='commonj.sdo'
	    targetNamespace='http://www.example.org'
	    elementFormDefault='qualified'>
	  <xsd:complexType name='myTestType' type = 'myTestType'>
		<xsd:sequence>
			<xsd:element name='myTest1'
                     type='elementTest' maxOccurs='2'/>
		</xsd:sequence>
	  </xsd:complexType>
        <xsd:complexType name='elementTest'>
		<xsd:sequence>
			<xsd:element name='myTest0' type='xsd:string' />
		</xsd:sequence>
	  </xsd:complexType>
     </xsd:schema>
