sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/helper/xsdhelper/define/elements/ElementWithSDOPropertyType_Simple.xsd

<?xml version='1.0' encoding='US-ASCII'?>
     <xsd:schema 
            xmlns:xsd='http://www.w3.org/2001/XMLSchema'
	    xmlns='http://www.example.org'
	    targetNamespace='http://www.example.org'
            xmlns:sdoXML='commonj.sdo/xml'
	    elementFormDefault='qualified'>
	  <xsd:element name='Test' type='myTestType' />
	  <xsd:complexType name='myTestType'>
		<xsd:sequence>
			<xsd:element name = 'myTest1' 
			   type = 'my-IDREF' sdoXML:propertyType='P_TYPE'/>
		</xsd:sequence>
	  </xsd:complexType>
	  <xsd:simpleType name='my-IDREF'>
		<xsd:restriction base='xsd:IDREF'/>
	  </xsd:simpleType>
          <xsd:complexType name='P_TYPE'>
		<xsd:sequence>
			<xsd:element name = 'pname' type= 'xsd:string'/>
			<xsd:element name = 'pid' type= 'xsd:ID'/>
		</xsd:sequence>
	  </xsd:complexType>
     </xsd:schema>
