sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/helper/xsdhelper/define/elements/ElementWithSDOString_Simple.xsd

<?xml version='1.0' encoding='US-ASCII'?>
     <xsd:schema 
            xmlns:xsd='http://www.w3.org/2001/XMLSchema'
	    xmlns='http://www.example.org'
	    targetNamespace='http://www.example.org'
            xmlns:sdoXML='commonj.sdo/xml'
	    elementFormDefault='qualified'>
	  <xsd:element name='Test' type='myTestType' />
	  <xsd:complexType name='myTestType'>
		<xsd:sequence>
			<xsd:element name = 'myTest1' 
			   type = 'my-int' sdoXML:string='true'/>
		</xsd:sequence>
	  </xsd:complexType>
	  <xsd:simpleType name='my-int'>
		<xsd:restriction base='xsd:int'/>
	  </xsd:simpleType>
     </xsd:schema>
