sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/helper/xsdhelper/define/elements/ElementWithReference.xsd

<?xml version='1.0' encoding='US-ASCII'?>
     <xsd:schema 
            xmlns:xsd='http://www.w3.org/2001/XMLSchema'
	    xmlns='http://www.example.org'
	    xmlns:sdo='commonj.sdo'
	    targetNamespace='http://www.example.org'
	    elementFormDefault='qualified'>
	  <xsd:element name = 'Test'/>
	  <xsd:complexType name='myTestType'>
		<xsd:sequence>
			<xsd:element ref='myElement'/>
		</xsd:sequence>
	  </xsd:complexType>
    	  <xsd:element name='myElement' default='3'>
        	<xsd:simpleType>
            		<xsd:restriction base='xsd:int'/>
        	</xsd:simpleType>
    	  </xsd:element>
     </xsd:schema>
