moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/externalizedmetadata/xmlregistry/schema-non-local.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="fooBar">
      <xsd:sequence>
         <xsd:choice maxOccurs="unbounded">
            <xsd:element name="foo" type="xsd:string"/>
            <xsd:element name="bar" type="xsd:string"/>
         </xsd:choice>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="foos" type="xsd:int"/>
</xsd:schema>
