sdo/eclipselink.sdo.test/resource/open.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
  xmlns:simple="http://www.example.com/open" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  targetNamespace="http://www.example.com/open"> 
  
   <xsd:element name="openStockQuote" type="simple:OpenQuote"/>
   
   <xsd:element name="price" type="xsd:decimal"/>
   
   <xsd:element name="company">
     <xsd:complexType>
     	<xsd:sequence>
     		<xsd:element name="name" type="xsd:string"/>
     	</xsd:sequence>
     </xsd:complexType>
   </xsd:element>

   <xsd:complexType name="OpenQuote">
       <xsd:sequence>
          <xsd:element name="symbol" type="xsd:string"/>
          <xsd:any maxOccurs="unbounded" namespace="##any"/>
       </xsd:sequence>
   </xsd:complexType>

</xsd:schema>
