moxy/org.eclipse.persistence.moxy.maven/src/test/resources/org/eclipse/persistence/testing/jaxb/annotations/xmlpath/predicate/adapter/atom.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0,
    or the Eclipse Distribution License v. 1.0 which is available at
    http://www.eclipse.org/org/documents/edl-v10.php.

    SPDX-License-Identifier: EPL-2.0 OR BSD-3-Clause

-->

<xsd:schema xmlns:ns0="http://www.w3.org/2005/Atom" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.w3.org/2005/Atom">
   <xsd:element name="link">
      <xsd:complexType>
         <xsd:sequence/>
         <xsd:attribute name="href" type="xsd:string"/>
         <xsd:attribute name="rel" type="xsd:string"/>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>
