sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/helper/classgen/dynamicimpl/ChangeSummary.xsd

<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0,
    or the Eclipse Distribution License v. 1.0 which is available at
    http://www.eclipse.org/org/documents/edl-v10.php.

    SPDX-License-Identifier: EPL-2.0 OR BSD-3-Clause

-->

<xsd:schema targetNamespace="http://www.example.com"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://www.example.com"
    xmlns:sdo="commonj.sdo"
    xmlns:sdoj="commonj.sdo/java"
    sdoj:package="org.eclipse.persistence.testing.sdo.helper.classgen.dynamicimpl">

    <xsd:import namespace="commonj.sdo/java"
        schemaLocation="sdoJava.xsd" />

    <xsd:complexType name="ChangeSummaryA">
        <xsd:sequence>
            <xsd:element name="property1" type="xsd:string"/>
            <xsd:element name="changes" type="sdo:ChangeSummaryType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>
