sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/helper/classgen/dynamicimpl/NonDataTypeMany.xsd

<xsd:schema targetNamespace="http://www.example.com"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://www.example.com"
    xmlns:sdox="commonj.sdo/xml"
    xmlns:sdoj="commonj.sdo/java"
    sdoj:package="org.eclipse.persistence.testing.sdo.helper.classgen.dynamicimpl">

    <xsd:import namespace="commonj.sdo/java"
        schemaLocation="sdoJava.xsd" />

    <xsd:complexType name="NonDataTypeManyC">
        <xsd:sequence>
            <xsd:element name="property" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="NonDataTypeManyA">
        <xsd:sequence>
            <xsd:element name="b" type="NonDataTypeManyB" maxOccurs="unbounded"/>
            <xsd:element name="c" type="NonDataTypeManyC" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="NonDataTypeManyB">
        <xsd:sequence>
            <xsd:element name="property" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>