moxy/org.eclipse.persistence.moxy/src/test/resources/org/eclipse/persistence/testing/jaxb/listofobjects/multipleMapsNamespace2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018, 2019 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0,
    or the Eclipse Distribution License v. 1.0 which is available at
    http://www.eclipse.org/org/documents/edl-v10.php.

    SPDX-License-Identifier: EPL-2.0 OR BSD-3-Clause

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="java.util" xmlns:ns1="myns" targetNamespace="java.util">
   <xsd:import namespace="myns" schemaLocation="schema2.xsd"/>
   <xsd:complexType name="calendarFloatMap">
      <xsd:sequence>
         <xsd:element maxOccurs="unbounded" minOccurs="0" name="entry">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" name="key" type="xsd:dateTime"/>
                  <xsd:element minOccurs="0" name="value" type="xsd:float"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="stringIntegerMap">
      <xsd:sequence>
         <xsd:element maxOccurs="unbounded" minOccurs="0" name="entry">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" name="key" type="xsd:string"/>
                  <xsd:element minOccurs="0" name="value" type="xsd:int"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="listOfString">
      <xsd:sequence>
         <xsd:element name="item" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="listOfPerson">
      <xsd:sequence>
         <xsd:element name="item" type="ns1:person" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="personJobMap">
      <xsd:sequence>
         <xsd:element maxOccurs="unbounded" minOccurs="0" name="entry">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" name="key" type="ns1:person"/>
                  <xsd:element minOccurs="0" name="value" type="ns1:job"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
