moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/externalizedmetadata/xmlnametransformer/nametransformerupper.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="myuri" targetNamespace="myuri">
   <xsd:complexType name="ORG.ECLIPSE.PERSISTENCE.TESTING.JAXB.EXTERNALIZEDMETADATA.XMLNAMETRANSFORMER.EMPLOYEETYPE">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="FIRSTNAMEELEM" type="xsd:string"/>
         <xsd:element minOccurs="0" name="lastname" type="xsd:string"/>
         <xsd:element minOccurs="0" name="ADDRESSELEM" type="ns0:AddressAddress"/>
         <xsd:element minOccurs="0" name="PHONEELEM" type="ns0:ORG.ECLIPSE.PERSISTENCE.TESTING.JAXB.EXTERNALIZEDMETADATA.XMLNAMETRANSFORMER.PHONETYPE"/>
         <xsd:element minOccurs="0" name="responsibilities">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element maxOccurs="unbounded" minOccurs="0" name="responsibility" type="xsd:anyType"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element maxOccurs="unbounded" minOccurs="0" nillable="true" name="RESPONSIBILITIES2ELEM" type="xsd:anyType"/>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:int" use="required"/>
      <xsd:attribute name="BIRTHDAYATTR" type="xsd:dateTime"/>
   </xsd:complexType>
   <xsd:complexType name="AddressAddress">
      <xsd:sequence>
         <xsd:element name="idid" type="xsd:int"/>
         <xsd:element minOccurs="0" name="cityNamecityName" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="EMPLOYEEROOT" type="ns0:ORG.ECLIPSE.PERSISTENCE.TESTING.JAXB.EXTERNALIZEDMETADATA.XMLNAMETRANSFORMER.EMPLOYEETYPE"/>
   <xsd:element name="PHONEROOT" type="ns0:ORG.ECLIPSE.PERSISTENCE.TESTING.JAXB.EXTERNALIZEDMETADATA.XMLNAMETRANSFORMER.PHONETYPE"/>
   <xsd:simpleType name="ORG.ECLIPSE.PERSISTENCE.TESTING.JAXB.EXTERNALIZEDMETADATA.XMLNAMETRANSFORMER.PHONETYPE">
      <xsd:restriction base="xsd:string"/>
   </xsd:simpleType>
</xsd:schema>