moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/externalizedmetadata/xmlnametransformer/XmlMappingSpecifiedName.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="type-specified">
      <xsd:sequence>
         <xsd:element name="element-specified" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
      <xsd:attribute name="attribute-specified" type="xsd:string"/>
   </xsd:complexType>
   <xsd:element name="root-specified" type="type-specified"/>
</xsd:schema>
