moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/externalizedmetadata/xmlnametransformer/XmlMappingSpecifiedName.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="type-specified">
      <xsd:sequence>
         <xsd:element name="element-specified" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
      <xsd:attribute name="attribute-specified" type="xsd:string"/>
   </xsd:complexType>
   <xsd:element name="root-specified" type="type-specified"/>
</xsd:schema>
