sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/helper/xsdhelper/generate/exception/Level2Include2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="my.uri" xmlns="my.uri" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:import schemaLocation="Level3Import1.xsd" namespace="my3.uri"/>
   <xsd:import schemaLocation="Level3ImportRef.xsd" namespace="my4.uri"/>
   <xsd:complexType name="USAddress2">
      <xsd:attribute name="citystreet" type="xsd:string"/>
      <!--xsd:attribute name="citystreet" type="xsd:string"/-->
   </xsd:complexType>
   <xsd:element name="uSAddress" type="USAddress2"/>
</xsd:schema>
