sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/helper/jaxbhelper/xmlhelper/GlobalElement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:xml" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:xml" elementFormDefault="qualified" xmlns:sdoXml="commonj.sdo/xml">

        <xs:element name="root" type="tns:root-type"/>

        <xs:complexType name="root-type">
                <xs:sequence>
                        <xs:element name="name" type="xs:string"/>
                </xs:sequence>
        </xs:complexType>

</xs:schema>