sdo/org.eclipse.persistence.sdo/src/test/resources/org/eclipse/persistence/testing/sdo/schemas/CustomerDataSDOHelperContext.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018, 2021 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<xsd:schema targetNamespace="http://www.example.com/" xmlns="http://www.example.com/" elementFormDefault="qualified" sdoJava:package="myPackage" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sdo="commonj.sdo" xmlns:sdoJava="commonj.sdo/java" xmlns:ns0="commonj.sdo/XML">
   <xsd:complexType name="CustomerDataSDO">
      <xsd:sequence>
         <xsd:element name="PersonId" type="xsd:decimal" minOccurs="0" sdo:propertyType="sdo:Decimal"/>
         <xsd:element name="FirstName" type="xsd:string" minOccurs="0" sdo:propertyType="sdo:String"/>
         <xsd:element name="LastName" type="xsd:string" minOccurs="0" sdo:propertyType="sdo:String"/>
         <xsd:element name="Email" type="xsd:string" minOccurs="0" sdo:propertyType="sdo:String"/>
         <xsd:element name="MobilePhoneNumber" type="xsd:string" minOccurs="0" sdo:propertyType="sdo:String"/>
         <xsd:element name="MembershipTypeCode" type="xsd:string" minOccurs="0" sdo:propertyType="sdo:String"/>
     <xsd:any/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="customerDataSDO" type="CustomerDataSDO"/>
</xsd:schema>
