sdo/org.eclipse.persistence.sdo/src/test/resources/org/eclipse/persistence/testing/sdo/schemas/customerBillToShipToDiffURI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018, 2021 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<xsd:schema targetNamespace="my.uri1" xmlns="my.uri1" elementFormDefault="qualified" sdoJava:package="defaultPackage" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sdoJava="commonj.sdo/java" xmlns:ns0="my.url2">
   <xsd:import schemaLocation="my.url2.xsd" namespace="my.url2"/>
   <xsd:import namespace="commonj.sdo/java" schemaLocation="classpath:/xml/sdoJava.xsd"/>
   <xsd:complexType name="CustomerType">
      <xsd:sequence>
         <xsd:element name="billToType" type="ns0:AddressType" minOccurs="0"/>
         <xsd:element name="shipToType" type="ns0:AddressType" minOccurs="0"/>
         <xsd:element name="phoneType" type="ns0:PhoneType" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="customerType" type="CustomerType"/>
</xsd:schema>
