moxy/org.eclipse.persistence.moxy/resource/org/eclipse/persistence/jaxb/beanval.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2014, 2018 Oracle and/or its affiliates. All rights reserved.
    Copyright (c) 2014, 2015 Oracle. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0

-->

<!--
Contributors:
    Marcel Valovy - 2014 - 2.6 - Initial implementation.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://jaxb.dev.java.net/plugin/bean-validation"
           elementFormDefault="qualified">
    <xs:annotation>
        <xs:documentation>
            JAXB customization schema for Bean Validation Plugin.
        </xs:documentation>
    </xs:annotation>

    <xs:element name="facet">
        <xs:complexType>
            <xs:attribute name="message" type="xs:string"/>
            <xs:attribute name="groups" type="xs:string"/>
            <xs:attribute name="type" type="xs:string" use="required"/>
            <xs:attribute name="value" type="xs:string">
                <xs:annotation>
                  <xs:documentation>
                    Allows setting "value", use only for user custom annotations.
                  </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

</xs:schema>
