moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/unmarshaller/validation/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0

-->

<schema
    xmlns="http://www.w3.org/2001/XMLSchema"
    targetNamespace="urn:foo"
    xmlns:tns="urn:foo"
    elementFormDefault="qualified">

    <element name="address" type="tns:address"/>

    <complexType name="address">
        <sequence>
            <element name="street" type="string"/>
            <element name="city" type="string"/>
        </sequence>
    </complexType>

    <complexType name="canadianAddress">
        <complexContent>
            <extension base="tns:address">
                <sequence>
                    <element name="province" type="string"/>
                    <element name="postalCode" type="string"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

</schema>
