sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/helper/xsdhelper/generate/Address.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="my.uri2" xmlns="my.uri2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="USAddress">
      <xsd:attribute name="street" type="xsd:string"/>
      <xsd:attribute name="city" type="xsd:string"/>
   </xsd:complexType>
   <xsd:element name="uSAddress" type="USAddress"/>
</xsd:schema>
