sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/helper/xsdhelper/generate/Cyclic1ElementRefError.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0

-->

<xsd:schema targetNamespace="my.uri" xmlns="my.uri" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="my.uri2">
   <xsd:import schemaLocation="Cyclic2ElementRefError.xsd" namespace="my.uri2"/>
   <xsd:complexType name="PhoneType">
      <xsd:attribute name="number" type="xsd:string"/>
   </xsd:complexType>
   <xsd:element name="phoneType" type="PhoneType"/>
</xsd:schema>
