sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/helper/xsdhelper/generate/ImportBug6311853.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0

-->

<xsd:schema targetNamespace="my.uri2" xmlns="my.uri2" elementFormDefault="qualified" sdoJava:package="uri2.my" xmlns:sdoXML="commonj.sdo/xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sdo="commonj.sdo" xmlns:sdoJava="commonj.sdo/java" xmlns:ns0="addressURI">
   <xsd:import namespace="commonj.sdo" schemaLocation="classpath:/xml/sdoModel.xsd"/>
   <xsd:import schemaLocation="ImportBug6311853Address.xsd" namespace="addressURI"/>
   <xsd:import namespace="commonj.sdo/java" schemaLocation="classpath:/xml/sdoJava.xsd"/>
   <xsd:import namespace="commonj.sdo/xml" schemaLocation="classpath:/xml/sdoXML.xsd"/>
   <xsd:complexType name="Person">
      <xsd:sequence>
         <xsd:element name="address" type="ns0:Address" minOccurs="0" sdoXML:dataType="sdo:DataObject"/>
      </xsd:sequence>
      <xsd:attribute name="name" type="xsd:string"/>
   </xsd:complexType>
   <xsd:element name="person" type="Person"/>
</xsd:schema>
