moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/xmlanyelement/employee.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="address">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="street" type="xsd:string"/>
         <xsd:element minOccurs="0" name="city" type="xsd:string"/>
         <xsd:element minOccurs="0" name="country" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="employee">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="home-address" type="address"/>
         <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
      </xsd:sequence>
      <xsd:attribute name="name" type="xsd:string"/>
   </xsd:complexType>
   <xsd:element name="address" type="address"/>
   <xsd:element name="employee" type="employee"/>
</xsd:schema>