moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/xmlanyelement/employee.xsd

<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0,
    or the Eclipse Distribution License v. 1.0 which is available at
    http://www.eclipse.org/org/documents/edl-v10.php.

    SPDX-License-Identifier: EPL-2.0 OR BSD-3-Clause

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="address">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="street" type="xsd:string"/>
         <xsd:element minOccurs="0" name="city" type="xsd:string"/>
         <xsd:element minOccurs="0" name="country" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="employee">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="home-address" type="address"/>
         <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
      </xsd:sequence>
      <xsd:attribute name="name" type="xsd:string"/>
   </xsd:complexType>
   <xsd:element name="address" type="address"/>
   <xsd:element name="employee" type="employee"/>
</xsd:schema>
