moxy/org.eclipse.persistence.moxy/src/test/resources/org/eclipse/persistence/testing/oxm/mappings/anyobjectandanycollection/Customer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018, 2021 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:ns1="urn:customer-example"
    targetNamespace="urn:customer-example"
    elementFormDefault="unqualified"
    attributeFormDefault="unqualified">

    <xs:element name="customer" type="ns1:customer-type"/>
    <xs:complexType name="customer-type">
        <xs:sequence>
        <xs:element name="object-method" type="xs:anyType" minOccurs="1" maxOccurs="1"/>
        <xs:element name="contact-method" type="xs:anyType"/>

        </xs:sequence>
    </xs:complexType>

    <xs:element name="address">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="address_content" type="xs:string"/>
        </xs:sequence>
        </xs:complexType>
    </xs:element>
     <xs:element name="phone">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="phone_content" type="xs:string"/>
        </xs:sequence>
        </xs:complexType>
    </xs:element>
  </xs:schema>
