moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/schemagen/inheritance/inheritance.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="car">
      <xsd:sequence>
         <xsd:element name="duplicate" type="xsd:int"/>
         <xsd:element name="make" type="xsd:string" minOccurs="0"/>
         <xsd:element name="model" type="xsd:string" minOccurs="0"/>
         <xsd:element name="year" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="toyota">
      <xsd:complexContent>
         <xsd:extension base="car">
            <xsd:sequence>
               <xsd:element name="duplicate" type="xsd:string" minOccurs="0"/>
               <xsd:element name="color" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
</xsd:schema>