sdo/org.eclipse.persistence.sdo/src/test/resources/org/eclipse/persistence/testing/sdo/helper/xmlhelper/changesummary/bug6680769/data.xsd

<!--

    Copyright (c) 2018, 2021 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.example.org/data" xmlns:ns0="http://www.example.org/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sdo="commonj.sdo">
   <xsd:element name="data" type="ns0:Data"/>
   <xsd:complexType name="Data">
      <xsd:sequence>
         <xsd:element name="Value" type="xsd:anyType" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="ChangeSummary" type="sdo:ChangeSummaryType" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
