moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/dynamic/binary2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0

-->

<xs:schema targetNamespace="myNamespace" xmlns:myns="myNamespace" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="person" type="myns:person"/>

    <xs:complexType name="person">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="abyte" type="xs:byte"/>
            <xs:element name="base64" type="xs:base64Binary"/>
            <xs:element name="hex" type="xs:hexBinary"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
