moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/dynamic/binary2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="myNamespace" xmlns:myns="myNamespace" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="person" type="myns:person"/>

    <xs:complexType name="person">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="abyte" type="xs:byte"/>
            <xs:element name="base64" type="xs:base64Binary"/>
            <xs:element name="hex" type="xs:hexBinary"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>