moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/dynamic/invalid.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0

-->

<xs:schema xmlns:myns="myNamespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="myNamespace">

    <xs:element name="person" type="myns:person"/>

    <xs:complexType name="person">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="salary" type="foons:cdn_currency"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="cdn_currency">
        <xs:simpleContent>
            <xs:extension base="xs:decimal"/>
        </xs:simpleContent>
    </xs:complexType>

</xs:schema>
