moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/dynamic/xmlmixed.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="myNamespace" xmlns:myns="myNamespace" xmlns:xs="http://www.w3.org/2001/XMLSchema"
    attributeFormDefault="qualified" elementFormDefault="qualified">

    <xs:element name="person">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element name="title" type="xs:string"/>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="rewardPoints" type="xs:positiveInteger"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>