moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/dynamic/xmlschema-defaults.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="person">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:int"/>
        </xs:complexType>
    </xs:element>

</xs:schema>