moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/typemappinginfo/classloader/classloader.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="employee">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="address" type="address"/>
         <xsd:element maxOccurs="unbounded" minOccurs="0" name="phoneNumbers" type="phoneNumber"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="phoneNumber">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="areaCode" type="xsd:string"/>
         <xsd:element minOccurs="0" name="number" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="address">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="street" type="xsd:string"/>
         <xsd:element minOccurs="0" name="city" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="testTagname" type="employee"/>
</xsd:schema>