bundles/tests/src/test/resources/org/eclipse/persistence/testing/jaxb/installer/WorkItem.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--

    Copyright (c) 2018, 2021 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<xs:schema version="1.0" targetNamespace="http://org.eclipse.persistence.testing.perf/workItem" xmlns:tns="http://org.eclipse.persistence.testing.perf/workItem" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="doWorkItem" type="tns:doWorkItem"/>

  <xs:element name="doWorkItemResponse" type="tns:doWorkItemResponse"/>

  <xs:complexType name="doWorkItem">
    <xs:sequence>
      <xs:element name="workLocation" type="xs:int"/>
      <xs:element name="wid" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="doWorkItemResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
