moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/externalizedmetadata/xmlelement/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://www.example.com/utils">
   <xsd:import schemaLocation="schema2.xsd" namespace="http://www.example.com/utils"/>
   <xsd:complexType name="employee">
      <xsd:sequence>
         <xsd:element name="firstName" type="xsd:string" minOccurs="0"/>
         <xsd:element name="last-name" type="xsd:string" minOccurs="0"/>
         <xsd:element name="id" type="xsd:int"/>
         <xsd:element ref="ns0:aUtilDate"/>
         <xsd:element name="myEmployees" type="employee" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="myInt" type="xsd:int" default="99"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="employee" type="employee"/>
</xsd:schema>
