sdo/org.eclipse.persistence.sdo/src/test/resources/org/eclipse/persistence/testing/sdo/helper/xsdhelper/generate/exception/Level1rootIncludes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018, 2021 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<xsd:schema targetNamespace="my.uri" xmlns="my.uri" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <!-- refers to a type T3 in the 3rd level import in the 2nd include -->
   <xsd:include schemaLocation="Level2Include1.xsd"/>
   <!-- imports type T3 the 3rd level import in the 2nd include -->
   <xsd:include schemaLocation="Level2Include2.xsd"/>
   <xsd:include schemaLocation="AddressInclude.xsd"/>
   <xsd:complexType name="PurchaseOrder">
      <xsd:sequence>
         <xsd:element name="shipTo" type="ns0:USAddress" minOccurs="0"/>
         <!--xsd:element name="billTo" type="ns0:USAddress" minOccurs="0"/-->
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="purchaseOrder" type="PurchaseOrder"/>

</xsd:schema>
