utils/eclipselink.utils.workbench.test/mappingsplugin/resource/schema/SingleSchemaTests/BasicComplexType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="complex-type">
		<xs:sequence>
			<xs:element name="element" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="attribute" type="xs:string"/>
	</xs:complexType>
</xs:schema>
