utils/eclipselink.utils.workbench.test/mappingsplugin/resource/schema/SingleSchemaTests/BasicComplexTypeWithComplexBaseType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="base-complex-type" abstract="true">
		<xs:sequence>
			<xs:element name="base-type-element" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="base-type-attribute" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="complex-type">
		<xs:complexContent>
			<xs:extension base="base-complex-type">
				<xs:sequence>
					<xs:element name="element" type="xs:string"/>
				</xs:sequence>
				<xs:attribute name="attribute" type="xs:string"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
