utils/eclipselink.utils.workbench.test/mappingsplugin/resource/schema/SingleSchemaTests/BasicSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="complex-type">
		<xs:attribute name="attribute" type="xs:string"/>
	</xs:complexType>
	<xs:element name="element" type="xs:string"/>
	<xs:attribute name="attribute" type="xs:string"/>
	<xs:group name="group">
		<xs:sequence/>
	</xs:group>
</xs:schema>
