utils/eclipselink.utils.workbench.test/mappingsplugin/resource/schema/SingleSchemaTests/BasicSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0,
    or the Eclipse Distribution License v. 1.0 which is available at
    http://www.eclipse.org/org/documents/edl-v10.php.

    SPDX-License-Identifier: EPL-2.0 OR BSD-3-Clause

-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="complex-type">
        <xs:attribute name="attribute" type="xs:string"/>
    </xs:complexType>
    <xs:element name="element" type="xs:string"/>
    <xs:attribute name="attribute" type="xs:string"/>
    <xs:group name="group">
        <xs:sequence/>
    </xs:group>
</xs:schema>
