moxy/org.eclipse.persistence.moxy/src/test/resources/org/eclipse/persistence/testing/jaxb/annotations/xmllocation/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018, 2021 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="subData">
      <xsd:sequence>
         <xsd:element name="info" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="leafData">
      <xsd:complexContent>
         <xsd:extension base="detailData">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="detailData">
      <xsd:complexContent>
         <xsd:extension base="subData">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="data">
      <xsd:sequence>
         <xsd:element name="key" type="xsd:string" minOccurs="0"/>
         <xsd:element name="data1" type="xsd:string" minOccurs="0"/>
         <xsd:element name="data2" type="xsd:string" minOccurs="0"/>
         <xsd:element name="data3" type="xsd:string" minOccurs="0"/>
         <xsd:element name="subData" type="subData" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="data" type="data"/>
</xsd:schema>
