moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/schemagen/scope/scope.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="classA">
      <xsd:sequence>
         <xsd:element name="someValue" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="classARoot" type="classA"/>
</xsd:schema>