sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/model/dataobject/xpathengine/PurchaseOrderXPathEngine.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.example.org" xmlns="http://www.example.org" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified"> 
   <xsd:complexType name="Items">
        <xsd:sequence>
		<xsd:sequence>
	  		<xsd:sequence>
			            <xsd:element name="item" type="LineItemType" minOccurs="0" maxOccurs="unbounded"/>
 		     	</xsd:sequence>
		</xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="usAddressType">
      <xsd:complexContent>
         <xsd:extension base="AddressType">
            <xsd:sequence>
               <xsd:element name="state" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
            <xsd:attribute name="zip" type="xsd:int"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="AddressType">
      <xsd:sequence>
         <xsd:element name="name" type="xsd:string" minOccurs="0"/>
         <xsd:element name="street" type="xsd:string" minOccurs="0"/>
         <xsd:element name="city" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
      <xsd:attribute name="country" type="xsd:string" default="US"/>
   </xsd:complexType>
   <xsd:complexType name="LineItemType">
      <xsd:sequence>
         <xsd:element name="productName" type="xsd:string" minOccurs="0"/>
	 <xsd:choice>
  	    <xsd:element name="USPrice" type="xsd:float" minOccurs="0"/>
	    <xsd:sequence>
	       <xsd:element name="CDNPrice" type="xsd:float" minOccurs="0"/>
	       <xsd:element name="exchangeRate" type="xsd:float" minOccurs="0"/>
            </xsd:sequence>
	 </xsd:choice>
	 <xsd:element name="shipDate" type="xsd:date" minOccurs="0"/>
         <xsd:element name="comment" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="specialOrder" type="xsd:boolean" minOccurs="0"/>
         <xsd:element name="partsList" type="PartsListType" minOccurs="0"/>
      </xsd:sequence>
      <xsd:attribute name="partNum" type="SKU"/>
      <xsd:attribute name="quantity" type="quantityType"/>
   </xsd:complexType>
   <xsd:complexType name="PartsListType">
      <xsd:sequence>
         <xsd:element name="partNumber" type="SKU" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="PurchaseOrderType">
      <xsd:sequence>
         <xsd:element name="shipTo" type="AddressType" minOccurs="0"/>
         <xsd:element name="billTo" type="AddressType" minOccurs="0"/>
         <xsd:element name="comment" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="items" type="Items" minOccurs="0"/>
         <xsd:element name="customer" type="CustomerType" minOccurs="0"/>
      </xsd:sequence>
      <xsd:attribute name="poId" type="xsd:string"/>
      <xsd:attribute name="orderDate" type="xsd:date"/>
   </xsd:complexType>
   <xsd:complexType name="CustomerType">
      <xsd:sequence>
         <xsd:element name="name" type="xsd:string" minOccurs="0"/>
         <xsd:element name="gender" type="gender" minOccurs="0"/>
         <xsd:element name="phoneNumber" minOccurs="0">
            <xsd:simpleType>
	       <xsd:restriction base="xsd:string">
                  <xsd:length value="10"/>
               </xsd:restriction>
            </xsd:simpleType>
	 </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="namePrefix">
	    <xsd:simpleType>
	       <xsd:restriction base="xsd:string">
	          <xsd:enumeration value="Dr."/>
		     <xsd:enumeration value="Mrs."/>
		     <xsd:enumeration value="Mr."/>
	          </xsd:restriction>
	       </xsd:simpleType>
        </xsd:attribute>
   </xsd:complexType>
   <xsd:complexType name="cdnAddressType">
      <xsd:complexContent>
         <xsd:extension base="AddressType">
            <xsd:sequence>
	       <xsd:choice>	       
	          <xsd:sequence>
		     <xsd:element name="province" type="xsd:string" minOccurs="0"/>
		  </xsd:sequence>
	          <xsd:element name="territory" type="xsd:string" minOccurs="0"/>
	       </xsd:choice>
  	       <xsd:element name="postalcode" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
    <xsd:element name="purchaseOrder" type="PurchaseOrderType"/>
   <xsd:simpleType name="gender">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="male"/>
	 <xsd:enumeration value="female"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="quantityType">
      <xsd:restriction base="xsd:int"/>
   </xsd:simpleType>
   <xsd:simpleType name="SKU">
      <xsd:restriction base="xsd:string"/>
   </xsd:simpleType>
</xsd:schema>
