moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/externalizedmetadata/jaxbcontextfactory/stringarray/bean_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="defaultTns" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="defaultTns">
   <xsd:complexType name="beanA">
      <xsd:sequence>
         <xsd:element name="string" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="beanB">
      <xsd:sequence>
         <xsd:element name="string" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
