sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/helper/xsdhelper/generate/nested/Nested1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="my.uri" xmlns="my.uri" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="AddressType">
      <xsd:attribute name="street" type="xsd:string"/>
   </xsd:complexType>
   <xsd:complexType name="CustomerType">
      <xsd:sequence>
         <xsd:element name="addressType" type="AddressType" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="customerType" type="CustomerType"/>
   <xsd:element name="addressType" type="AddressType"/>
</xsd:schema>