sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/helper/xsdhelper/define/complextypes/ComplexTypeWithSDOSequence.xsd

<?xml version='1.0' encoding='US-ASCII'?>
     <xsd:schema 
          xmlns:xsd='http://www.w3.org/2001/XMLSchema'
	    xmlns='http://www.example.org'
	    xmlns:sdoXML='commonj.sdo/xml'
	    targetNamespace='http://www.example.org'
	    elementFormDefault='qualified'>
	  <xsd:element name='Test' type='myTestType' />
	  <xsd:complexType name='myTestType' sdoXML:sequence='true'>
		<xsd:sequence>
			<xsd:element name='myTest1' type='xsd:string' />
			<xsd:element name='myTest2' type='xsd:string' />
		</xsd:sequence>
	  </xsd:complexType>
     </xsd:schema>
