sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/helper/xsdhelper/define/complextypes/ComplexTypeWithAnonymous.xsd

<?xml version='1.0' encoding='US-ASCII'?>
     <xsd:schema 
            xmlns:xsd='http://www.w3.org/2001/XMLSchema'
	    xmlns='http://www.example.org'
	    targetNamespace='http://www.example.org'
	    elementFormDefault='qualified'>
	  <xsd:element name = 'myTestType'>
	  	<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = 'myTest1' type = 'xsd:string' />
				<xsd:element name = 'myTest2' type = 'xsd:string' />
			</xsd:sequence>
	  	</xsd:complexType>
	  </xsd:element>
     </xsd:schema>
