sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/helper/xsdhelper/define/complextypes/ComplexTypeEntendingSimpleType.xsd

<?xml version='1.0' encoding='US-ASCII'?>
     <xsd:schema 
            xmlns:xsd='http://www.w3.org/2001/XMLSchema'
	    xmlns='http://www.example.org'
	    xmlns:sdo='commonj.sdo'
	    targetNamespace='http://www.example.org'
	    elementFormDefault='qualified'>
	  <xsd:element name='Test' type='myTestType' />
	  <xsd:complexType name='myTestType'>
		<xsd:simpleContent>
			<xsd:extension base='mySimpleType'>
				<xsd:attribute name='myAttribute' type='xsd:string' />				
			</xsd:extension>
		</xsd:simpleContent>
	  </xsd:complexType>
        <xsd:simpleType name='mySimpleType'>
              <xsd:restriction base='xsd:int' />
        </xsd:simpleType>
     </xsd:schema>