sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/helper/xsdhelper/define/attributes/AttributeWithSDO_PropertyType.xsd

<?xml version='1.0' encoding='US-ASCII'?>
     <xsd:schema 
            xmlns:xsd='http://www.w3.org/2001/XMLSchema'
	    xmlns='http://www.example.org'
            xmlns:sdoXML='commonj.sdo/xml'
	    targetNamespace='http://www.example.org'
	    elementFormDefault='qualified'>
	  <xsd:element name = 'Test' type = 'myTestType' />
	  <xsd:complexType name='myTestType'>
		<xsd:attribute name='myTestAttribute' 
			type='xsd:ID' sdoXML:propertyType='P_TYPE'/>
	  </xsd:complexType>
	  <xsd:complexType name='P_TYPE'>
	  	<xsd:attribute name='id' type='xsd:ID'>
              <xsd:restriction base='xsd:anyURI'/>
		</xsd:attribute>
      </xsd:complexType>			 
     </xsd:schema>
