sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/helper/xsdhelper/define/attributes/AttributeWithReference.xsd

<?xml version='1.0' encoding='US-ASCII'?>
     <xsd:schema 
            xmlns:xsd='http://www.w3.org/2001/XMLSchema'
	    xmlns='http://www.example.org'
            xmlns:sdo='commonj.sdo'
	    targetNamespace='http://www.example.org'
	    elementFormDefault='qualified'>
	  <xsd:element name = 'Test' type = 'myTestType' />
	  <xsd:complexType name='myTestType'>
		<xsd:attribute ref='attributeInt'/>
	  </xsd:complexType>
    	  <xsd:attribute name='attributeInt' default='3'>
		<xsd:simpleType>
			<xsd:restriction base='xsd:int'/>
		</xsd:simpleType>
	  </xsd:attribute>
     </xsd:schema>
