moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/externalizedmetadata/xmladapter/hexbinary/schema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="customer">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="hexBytes" type="xsd:hexBinary"/>
         <xsd:element name="base64Bytes" type="xsd:base64Binary"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="customer" type="customer"/>
</xsd:schema>