moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/externalizedmetadata/xmladapter/hexbinary/schema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="customer">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="hexBytes" type="xsd:hexBinary"/>
         <xsd:element name="base64Bytes" type="xsd:base64Binary"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="customer" type="customer"/>
</xsd:schema>
