sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/schemas/classgen/CompanyWithSequenceCSWithInvalidClassName.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.example.org" xmlns="http://www.example.org" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sdoXML="commonj.sdo/xml">

    <xsd:complexType name="PhoneType">
	<xsd:sequence>
		<xsd:element name="number" type="xsd:string" minOccurs="0"/>
	</xsd:sequence>
    </xsd:complexType>

   <xsd:complexType name="USAddress">
      <xsd:attribute name="name" type="xsd:string"/>
      <xsd:attribute name="street" type="xsd:string"/>
      <xsd:attribute name="city" type="xsd:string"/>
      <xsd:attribute name="state" type="xsd:string"/>
      <xsd:attribute name="zip" type="xsd:decimal"/>
      <xsd:attribute name="country" type="xsd:string" default="US"/>
   </xsd:complexType>
   
   <xsd:complexType name="Item">
         <xsd:attribute name="itemID" type="xsd:ID"/>
         <xsd:attribute name="name" type="xsd:string"/>
   </xsd:complexType>

   <xsd:complexType name="PurchaseOrder" sdoXML:sequence="true">
      <xsd:sequence>
	     <!-- simple single element -->
         <xsd:element name="poID" type="xsd:ID" minOccurs="0"/>
         <xsd:element name="shipTo" type="USAddress" minOccurs="0"/>
         <xsd:element name="billTo" type="USAddress" minOccurs="0"/>
		 <!-- simple many element -->
		 <xsd:element name="comment" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
		 <!-- unidirectional reference --> 
         <xsd:element name="item" type="xsd:IDREFS" minOccurs="0" maxOccurs="unbounded" sdoXML:propertyType="Item"/>
      </xsd:sequence>
	  <!--BD1:  /company/porder/customer is bidirectional with /company/customer/purchaseOrder -->
      <!--  xsd:attribute name="customer" type="xsd:IDREF" minOccurs="0" 
      	sdoXML:propertyType="Customer" sdoXML:oppositeProperty="purchaseOrder"/-->
      <xsd:attribute name="orderDate" type="xsd:date"/>
   </xsd:complexType>

   <!-- xsd:complexType name="InvalidClassname" sdoXML:sequence="true">
      <xsd:sequence>
      	 <xsd:element name="email" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      	 <xsd:element name="phone" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="custID" type="xsd:ID"/>
   </xsd:complexType-->
   <xsd:complexType name="Invalid-classname" sdoXML:sequence="true">
      <xsd:sequence>
      	 <xsd:element name="email" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      	 <xsd:element name="phone" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
		 <!--BD1:  /company/customer/purchaseOrder is bidirectional with /company/porder/customer -->
         <!-- xsd:element name="purchaseOrder" type="xsd:IDREF" minOccurs="0" 
         	sdoXML:propertyType="PurchaseOrder" sdoXML:oppositeProperty="customer"/-->
      </xsd:sequence>
      <xsd:attribute name="custID" type="xsd:ID"/>
   </xsd:complexType>
   
  <xsd:complexType name="Company">	
      <xsd:sequence>
      	 <!-- complex single element with a sequence -->      
      	 <!-- invalid Java class name test (the first valid classname will invoke a remangle of the 2nd to avoid a 2nd collision -->
         <!-- xsd:element name="invalidClassname" type="InvalidClassname"/-->
         <xsd:element name="invalid-classname" type="Invalid-classname"/>

		 <!-- complex many element with a sequence -->
         <xsd:element name="porder" type="PurchaseOrder" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="item" type="Item" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="name" type="xsd:string"/>
   </xsd:complexType>
   
   <xsd:element name="item" type="Item"/>
   <xsd:element name="uSAddress" type="USAddress"/>
   <xsd:element name="purchaseOrder" type="PurchaseOrder"/>
   <!-- xsd:element name="type-type" type="type"/-->
   <xsd:element name="company" type="Company"/>
</xsd:schema>
