sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/helper/xmlhelper/changesummary/bug6680769/data.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.example.org/data" xmlns:ns0="http://www.example.org/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sdo="commonj.sdo">
   <xsd:element name="data" type="ns0:Data"/>
   <xsd:complexType name="Data">
      <xsd:sequence>
         <xsd:element name="Value" type="xsd:anyType" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="ChangeSummary" type="sdo:ChangeSummaryType" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>  
</xsd:schema>
