sdo/org.eclipse.persistence.sdo/src/test/resources/org/eclipse/persistence/testing/sdo/helper/xmlhelper/load/SchemaB.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<!--

    Copyright (c) 2018, 2021 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<schema xmlns:eci="http://www.example.com/schema/internal"
        targetNamespace="http://www.example.com/schema/internal"
        xmlns:ns0="http://www.example.com/schema"
        xmlns:sdo="commonj.sdo" xmlns:sdoJava="commonj.sdo/java"
        sdoJava:package="com.example"
        elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://www.example.com/schema" schemaLocation="SchemaA.xsd"/>
   <element name="Worker" type="eci:WorkerType"/>
   <complexType name="WorkerType">
      <sequence>
         <element name="classification" type="ns0:EmployeeType" minOccurs="0" maxOccurs="unbounded"/>
      </sequence>
   </complexType>
   <complexType name="MySomeType">
      <complexContent>
         <extension base="ns0:SomeType">
            <sequence>
               <element name="itemName" type="string" minOccurs="0" maxOccurs="1"/>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
</schema>
