moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/externalizedmetadata/mappings/composite/employee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0

-->

<xsd:schema xmlns:c="http://www.example.com/contacts" xmlns:ns0="http://www.example.com/employees" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.com/employees">
   <xsd:import schemaLocation="schema2.xsd" namespace="http://www.example.com/contacts"/>
   <xsd:complexType name="phone">
      <xsd:sequence>
         <xsd:element name="number" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="address">
      <xsd:sequence>
         <xsd:element name="city" type="xsd:string" minOccurs="0"/>
         <xsd:element name="street" type="xsd:string" minOccurs="0"/>
         <xsd:element name="province" type="xsd:string" minOccurs="0"/>
         <xsd:element name="postalCode" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="department">
      <xsd:sequence>
         <xsd:element name="deptId" type="xsd:string" minOccurs="0"/>
         <xsd:element name="deptName" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="foo">
      <xsd:sequence/>
      <xsd:attribute name="foodata" type="xsd:string"/>
   </xsd:complexType>
   <xsd:complexType name="employee">
      <xsd:sequence>
         <xsd:element name="info" minOccurs="0">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element ref="c:contact-info" minOccurs="0"/>
                  <xsd:element name="contact-info" minOccurs="0">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="phone" type="ns0:phone" minOccurs="0" maxOccurs="unbounded"/>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="private-phone" type="ns0:phone" minOccurs="0"/>
         <xsd:element name="deptId" type="xsd:string" minOccurs="0"/>
         <xsd:element name="deptName" type="xsd:string" minOccurs="0"/>
         <xsd:element name="a-dept" type="ns0:department" minOccurs="0"/>
      </xsd:sequence>
      <xsd:attribute name="foodata" type="xsd:string"/>
   </xsd:complexType>
   <xsd:element name="employee" type="ns0:employee"/>
</xsd:schema>
