moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/externalizedmetadata/mappings/composite/employee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="phone">
      <xsd:sequence>
         <xsd:element name="number" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="address">
      <xsd:sequence>
         <xsd:element name="city" type="xsd:string" minOccurs="0"/>
         <xsd:element name="street" type="xsd:string" minOccurs="0"/>
         <xsd:element name="province" type="xsd:string" minOccurs="0"/>
         <xsd:element name="postalCode" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="department">
      <xsd:sequence>
         <xsd:element name="deptId" type="xsd:int"/>
         <xsd:element name="deptName" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="foo">
      <xsd:sequence/>
      <xsd:attribute name="foodata" type="xsd:string" />
   </xsd:complexType>
   <xsd:complexType name="employee">
      <xsd:sequence>
         <xsd:element name="info">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="contact-info">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="home-address" type="address" minOccurs="0"/>
                           <xsd:element name="work-address" type="address" minOccurs="0"/>
                           <xsd:element name="alt-address" type="address" minOccurs="0"/>
                           <xsd:element name="phone" type="phone" minOccurs="0" maxOccurs="unbounded"/>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="foo" type="foo" minOccurs="0"/>
         <xsd:element name="private-phone" type="phone" minOccurs="0"/>
         <xsd:element name="department" type="department" minOccurs="0"/>
         <xsd:element name="a-dept" type="department" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="employee" type="employee"/>
</xsd:schema>
