sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/helper/xmlhelper/bug6130541/Bug6130541.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://theUri" xmlns="http://theUri" elementFormDefault="qualified" sdoJava:package="defaultPackage" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sdoJava="commonj.sdo/java">
   <xsd:import namespace="commonj.sdo/java"/>
   <xsd:complexType name="CompanyType">
     <xsd:sequence>
         <xsd:element name="companyName" type="xsd:string" minOccurs="0"/>
         <xsd:element name="employee" type="EmployeeType" minOccurs="0" maxOccurrs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="EmployeeType">
      <xsd:sequence>
         <xsd:element name="name" type="xsd:string" minOccurs="0"/>
         <xsd:element name="jobTitle" type="xsd:string" minOccurs="0"/>
	 <xsd:element name="manager" type="EmployeeType" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="employeeType" type="EmployeeType"/>
   <xsd:element name="companyType" type="CompanyType"/>
</xsd:schema>