moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/schemagen/anonymoustype/inheritance/foo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="foo" abstract="true">
      <xsd:sequence/>
      <xsd:attribute name="name" type="xsd:string"/>
   </xsd:complexType>
   <xsd:element name="foo" type="foo"/>
   <xsd:element name="bar" substitutionGroup="foo">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="foo">
               <xsd:sequence/>
               <xsd:attribute name="baz" type="xsd:boolean"/>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>