moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/xmlschema/attributeformdefault/qualified.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="myns" attributeFormDefault="qualified" targetNamespace="myns">
   <xsd:complexType name="address">
      <xsd:sequence/>
      <xsd:attribute name="street" type="xsd:string"/>
      <xsd:attribute name="city" type="xsd:string"/>
   </xsd:complexType>
   <xsd:element name="address" type="ns0:address"/>
</xsd:schema>