moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/xmlschema/attributeformdefault/unqualified.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="myns" elementFormDefault="qualified" targetNamespace="myns">
   <xsd:complexType name="address">
      <xsd:sequence>
         <xsd:element name="street3" type="xsd:string" minOccurs="0"/>
         <xsd:element form="unqualified" name="street4" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
      <xsd:attribute ref="ns0:street"/>
      <xsd:attribute name="street2" type="xsd:string"/>
      <xsd:attribute name="city" type="xsd:string"/>
   </xsd:complexType>
   <xsd:element name="address" type="ns0:address"/>
   <xsd:attribute name="street" type="xsd:string"/>

</xsd:schema>
