moxy/org.eclipse.persistence.moxy/src/test/resources/org/eclipse/persistence/testing/jaxb/externalizedmetadata/xmlclassextractor/parkinglot.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--

    Copyright (c) 2018, 2021 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="car">
      <xsd:complexContent>
         <xsd:extension base="vehicle">
            <xsd:sequence>
               <xsd:element name="number-of-doors" type="xsd:int"/>
               <xsd:element name="miles-per-gallon" type="xsd:int"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="vehicle">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="model" type="xsd:string"/>
         <xsd:element minOccurs="0" name="manufacturer" type="xsd:string"/>
         <xsd:element name="top-speed" type="xsd:int"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="parkingLot">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="vehicles">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element maxOccurs="unbounded" minOccurs="0" name="vehicle" type="vehicle"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="parking-lot" type="parkingLot"/>
   <xsd:element name="car" type="car"/>
   <xsd:element name="vehicle" type="vehicle"/>
</xsd:schema>
