sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/helper/xmlhelper/Employee.xsd

<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://www.example.org" targetNamespace="http://www.example.org"
    elementFormDefault="unqualified" attributeFormDefault="unqualified">

    <xsd:element name="employee" type="EmployeeType" />
    <xsd:complexType name="AddressType">
        <xsd:sequence>
            <xsd:element name="street" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PhoneType">
        <xsd:sequence>
            <xsd:element name="number" type="xsd:string" />
            <xsd:element name="phoneId" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EmployeeType">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:string" />
            <xsd:element name="name" type="xsd:string" />
            <xsd:element name="address" type="AddressType" />
            <xsd:element name="phones" type="PhoneType" minOccurs="0"
                maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
