moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/externalizedmetadata/xmlinlinebinarydata/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="myData">
      <xsd:sequence>
         <xsd:element name="bytes" type="xsd:base64Binary"/>
         <xsd:element name="data" type="xsd:base64Binary" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="my-data" type="myData"/>
</xsd:schema>
