moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/xmlpath/xmlpathtoelementwithxmlattribute.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:ns0="myns" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="myns" elementFormDefault="qualified">
   <xsd:complexType name="testObjectToElementWithXmlAttribute">
      <xsd:sequence>
         <xsd:element name="something" minOccurs="0">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="theFlag" type="xsd:boolean"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="root" type="ns0:testObjectToElementWithXmlAttribute"/>
</xsd:schema>