moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/externalizedmetadata/mappings/binarydata/mydata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="myData">
      <xsd:sequence/>
      <xsd:attribute name="mybytes" type="xsd:base64Binary"/>
   </xsd:complexType>
   <xsd:element name="my-data" type="myData"/>
</xsd:schema>
