moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/externalizedmetadata/mappings/binarydata/mydata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="myData">
      <xsd:sequence>
         <xsd:element name="data" minOccurs="0">
            <xsd:complexType>
               <xsd:sequence/>
               <xsd:attribute name="mybytes" type="xsd:base64Binary"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="write-only-bytes" type="xsd:base64Binary"/>
      </xsd:sequence>
      <xsd:attribute name="my-read-only-bytes" type="xsd:base64Binary"/>
   </xsd:complexType>
   <xsd:element name="my-data" type="myData"/>
</xsd:schema>
