moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/xmlvalue/phone_number_attr.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="phone-number">
      <xsd:simpleContent>
         <xsd:extension base="xsd:string">
            <xsd:attribute name="area-code" type="xsd:string"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:element name="phone" type="phone-number"/>
</xsd:schema>