sdo/org.eclipse.persistence.sdo/src/test/resources/org/eclipse/persistence/testing/sdo/helper/xsdhelper/define/complextypes/ComplexTypeWithSDOSequence.xsd

<?xml version='1.0' encoding='US-ASCII'?>
<!--

    Copyright (c) 2018, 2021 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

     <xsd:schema
          xmlns:xsd='http://www.w3.org/2001/XMLSchema'
        xmlns='http://www.example.org'
        xmlns:sdoXML='commonj.sdo/xml'
        targetNamespace='http://www.example.org'
        elementFormDefault='qualified'>
      <xsd:element name='Test' type='myTestType' />
      <xsd:complexType name='myTestType' sdoXML:sequence='true'>
        <xsd:sequence>
            <xsd:element name='myTest1' type='xsd:string' />
            <xsd:element name='myTest2' type='xsd:string' />
        </xsd:sequence>
      </xsd:complexType>
     </xsd:schema>
