sdo/org.eclipse.persistence.sdo/src/test/resources/org/eclipse/persistence/testing/sdo/helper/xmlhelper/DataHandler_Base64.xsd

<!--

    Copyright (c) 2018, 2021 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<schema targetNamespace="myns" xmlns:ns0="myns" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:sdoJava="commonj.sdo/java">
  <element name="testDataElem">
    <complexType>
     <sequence>
       <element name="simpleStr" type="string" minOccurs="0"/>
       <element name="simpleInteger" type="integer" minOccurs="0"/>
       <element name="simpleDecimal" type="decimal" minOccurs="0"/>
       <element name="simpleBinary" type="base64Binary" minOccurs="0"/>
       <element name="simpleDHBinary" type="ns0:base64Binary-DataHandler" minOccurs="0"/>
     </sequence>
    </complexType>
  </element>
  <simpleType name="base64Binary-DataHandler" sdoJava:instanceClass="jakarta.activation.DataHandler">
    <restriction base="base64Binary"/>
  </simpleType>
</schema>
