sdo/org.eclipse.persistence.sdo/src/test/resources/org/eclipse/persistence/testing/sdo/helper/xmlhelper/Emp.xsd

<!--

    Copyright (c) 2018, 2021 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<xsd:schema elementFormDefault="qualified"
            targetNamespace="http://sdo.sample.service.types/Emp/"
            xmlns="http://sdo.sample.service.types/Emp/"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:sdoJava="commonj.sdo/java"
            sdoJava:package="sdo.sample.service.types.emp">
   <xsd:element name="emp" type="Emp" />
   <xsd:complexType name="Emp" sdoJava:instanceClass="sdo.sample.service.types.emp.Emp">
      <xsd:sequence>
         <xsd:element name="Empno" type="xsd:integer" minOccurs="0" />
         <xsd:element name="Ename" type="xsd:string" minOccurs="0" nillable="true" />
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
