sdo/org.eclipse.persistence.sdo/src/test/resources/org/eclipse/persistence/testing/sdo/helper/xmlhelper/Emp_Types.xsd

<!--

    Copyright (c) 2018, 2021 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<xs:schema elementFormDefault="qualified" xmlns:ns0="http://www.example.org/emp" targetNamespace="http://www.example.org/emp" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:type="http://www.example.org/types">
    <xs:complexType name="employee-type">
        <xs:sequence>
            <xs:element name="first-name" type="xs:string"/>
        <xs:element name="start-date" type="type:dateTime-Timestamp"/>
        <xs:element name="end-date" type="type:dateTime-Timestamp"/>
        <xs:element name="last-name" type="xs:string"/>
        <xs:element name="id" type="xs:int"/>
    </xs:sequence>
    </xs:complexType>
    <xs:element name="employee" type="ns0:employee-type"/>
</xs:schema>
