sdo/org.eclipse.persistence.sdo/src/test/resources/org/eclipse/persistence/testing/sdo/helper/xmlhelper/PurchaseOrderDeepCS.xsd

<!--

    Copyright (c) 2018, 2021 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.example.org"
            xmlns:sdo="commonj.sdo"
            targetNamespace="http://www.example.org"
            elementFormDefault="unqualified"
            attributeFormDefault="unqualified">

    <xsd:element name="purchaseOrder" type="PurchaseOrderType"/>

     <xsd:complexType name="AddressType">
        <xsd:attribute name="country" type="xsd:string"/>
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="street" type="xsd:string"/>
            <xsd:element name="city" type="xsd:string"/>
            <xsd:element name="state" type="xsd:string"/>
            <xsd:element name="zip" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="LineItemType">
        <xsd:attribute name="partNum" type="xsd:string"/>
        <xsd:sequence>
            <xsd:element name="productName" type="xsd:string"/>
            <xsd:element name="quantity" type="xsd:int"/>
            <xsd:element name="USPrice" type="xsd:float"/>
            <xsd:element name="levels2" type="Levels2" minOccurs="0" />
            <xsd:element name="shipDate" type="xsd:date"/>
            <xsd:element name="comment" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Items">
        <xsd:sequence>
            <xsd:element name="item" type="LineItemType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

   <xsd:complexType name="Levels2">
      <xsd:sequence>
         <xsd:sequence>
            <xsd:sequence>
               <xsd:element name="level2" type="Level2Type" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
         </xsd:sequence>
      </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Level2Type">
        <xsd:sequence>
            <xsd:sequence>
                <xsd:element name="Comment2" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PurchaseOrderType">
        <xsd:sequence>
            <xsd:element name="myChangeSummary" type="sdo:ChangeSummaryType"/>
            <xsd:element name="poId" type="xsd:string"/>
            <xsd:element name="shipTo" type="AddressType"/>
            <xsd:element name="billTo" type="AddressType"/>
            <xsd:element name="comment" type="xsd:string"/>
            <xsd:element name="items" type="Items"/>
        </xsd:sequence>
        <xsd:attribute name="orderDate" type="xsd:date"/>
    </xsd:complexType>

</xsd:schema>
