sdo/plugins/commonj.sdo/xml/sdoXML.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
/**
 * <copyright>
 *
 * Service Data Objects
 * Version 2.1.0
 * Licensed Materials
 *
 * (c) Copyright BEA Systems, Inc., International Business Machines Corporation, 
 * Oracle Corporation, Primeton Technologies Ltd., Rogue Wave Software, SAP AG., 
 * Software AG., Sun Microsystems, Sybase Inc., Xcalia, Zend Technologies, 
 * 2005, 2006. All rights reserved.
 *
 * </copyright>
 * 
 */
-->

<xsd:schema
    targetNamespace="commonj.sdo/xml"
    xmlns:sdo="commonj.sdo"
    xmlns:sdoXML="commonj.sdo/xml"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:import namespace="commonj.sdo" schemaLocation="sdoModel.xsd"/>


<!--
   These attributes are used to customize the XSD mapping of SDO Types and Properties.
-->

<xsd:attribute name="name" type="xsd:string" />
<xsd:attribute name="propertyType" type="xsd:QName" />
<xsd:attribute name="oppositeProperty" type="xsd:string" />
<xsd:attribute name="sequence" type="xsd:boolean" />
<xsd:attribute name="string" type="xsd:boolean" />
<xsd:attribute name="dataType" type="xsd:QName" />
<xsd:attribute name="aliasName" type="xsd:string" />
<xsd:attribute name="readOnly" type="xsd:boolean" />
<xsd:attribute name="many" type="xsd:boolean" />

<!--
   Global properties used in open content for 
   the XML binding of SDO Types and Properties.
-->

<xsd:attribute name="xmlElement" type="sdo:Boolean"/>

<!-- XMLInfo deprecated in 2.1.0 -->
<xsd:complexType name="XMLInfo">
  <xsd:attribute name="xmlElement" type="sdo:Boolean"/>
</xsd:complexType>

</xsd:schema>
