moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/externalizedmetadata/xmltype/employee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="employee-type">
      <xsd:sequence>
         <xsd:element name="id" type="xsd:int"/>
         <xsd:element name="lastName" type="xsd:string" minOccurs="0"/>
         <xsd:element name="firstName" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="employee" type="employee-type"/>
</xsd:schema>