moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/uri/childuri.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="testObject">
      <xsd:sequence>
         <xsd:element name="theURI" type="xsd:string" minOccurs="0"/>
         <xsd:element name="theURIs" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="testObject" type="testObject"/>
</xsd:schema>