sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/helper/jaxbhelper/xsdhelper/XSDHelper.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0

-->

<xs:schema targetNamespace="urn:xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:xsd" elementFormDefault="qualified" xmlns:sdoXml="commonj.sdo/xml">

        <xs:complexType name="root">
                <xs:sequence>
                        <xs:element name="child1" type="tns:child1"/>
                        <xs:element ref="tns:child2"/>
                </xs:sequence>
        </xs:complexType>

        <xs:complexType name="child1"  sdoXml:name="renamedChild1">
                        <xs:attribute name="id" type="xs:int"/>
        </xs:complexType>

        <xs:element name="child2">
                <xs:complexType>
                        <xs:attribute name="id" type="xs:int"/>
                </xs:complexType>
        </xs:element>

</xs:schema>
