moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/xmltype/page0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0

-->

<xsd:schema xmlns:ns0="http://namespace2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://namespace2">
   <xsd:complexType name="getPageResponse">
      <xsd:sequence>
         <xsd:element name="return" minOccurs="0">
            <xsd:complexType>
               <xsd:all>
                  <xsd:element name="isEmailLinkRequired" type="xsd:string" minOccurs="0"/>
               </xsd:all>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="getPageResponse" type="ns0:getPageResponse"/>
</xsd:schema>
