moxy/org.eclipse.persistence.moxy/src/test/resources/org/eclipse/persistence/testing/jaxb/annotations/xmlschema/extended.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018, 2021 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<xsd:schema xmlns:ns0="http://www.example.org/extended" xmlns:ns1="http://www.example.org/base" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/extended" elementFormDefault="qualified">
   <xsd:import schemaLocation="base.xsd" namespace="http://www.example.org/base"/>
   <xsd:complexType name="extensionWrapper">
      <xsd:sequence>
         <xsd:element name="wrapperStringField" type="xsd:string" minOccurs="0"/>
         <xsd:element name="wrapperObjectField" type="ns0:extendedObject" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="extendedObject">
      <xsd:complexContent>
         <xsd:extension base="ns1:baseObject">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:element name="extensionWrapper" type="ns0:extensionWrapper"/>
</xsd:schema>
