sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/helper/xsdhelper/Bug5893546.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0

-->

<xsd:schema targetNamespace="http://example.com/commemp/" xmlns="http://example.com/commemp/" elementFormDefault="qualified" sdoJava:package="com.example.commemp" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sdoJava="commonj.sdo/java" xmlns:ns0="http://example.com/emp/">
   <xsd:complexType name="CommEmp">
      <xsd:complexContent>
         <xsd:extension base="ns0:Emp">
            <xsd:sequence>
               <xsd:element name="agent" type="ns0:Emp" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:element name="commEmp" type="CommEmp"/>
</xsd:schema>
