sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/helper/xsdhelper/NameCollisions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0

-->

<xsd:schema targetNamespace="my.uri" xmlns="my.uri" xmlns:sdoXML="commonj.sdo/xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="phoneType">
      <xsd:sequence>
         <xsd:element name="areaCode" type="xsd:string"/>
         <xsd:element name="number" type="xsd:string"/>
         <xsd:element name="number" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="personType">
      <xsd:sequence>
         <xsd:element name="name" type="xsd:string"/>>
         <xsd:element name="age" type="xsd:string"/>
      </xsd:sequence>
      <xsd:attribute name="name" type="xsd:string"/>
   </xsd:complexType>
   <xsd:complexType name="jobType">
      <xsd:sequence>
         <xsd:element name="title" type="xsd:string"/>
         <xsd:element name="descrip" sdoXML:name="title" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="contactType">
      <xsd:sequence>
         <xsd:element name="street" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="addressType">
      <xsd:complexContent>
         <xsd:extension base="contactType">
            <xsd:sequence>
               <xsd:element name="street" type="xsd:string"/>
               <xsd:element name="city" type="xsd:string"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="cdnAddressType">
      <xsd:complexContent>
         <xsd:extension base="addressType">
            <xsd:sequence>
               <xsd:element name="postalCode" type="xsd:string"/>
           <xsd:element name="street" type="xsd:string"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
      <xsd:attribute name="street" type="xsd:string"/>
   </xsd:complexType>
   <xsd:element name="contactType" type="contactType"/>
   <xsd:element name="addressType" type="addressType"/>
   <xsd:element name="cdnAddressType" type="cdnAddressType"/>
   <xsd:element name="personType" type="personType"/>
   <xsd:element name="jobType" type="jobType"/>
   <xsd:element name="phoneType" type="phoneType"/>
</xsd:schema>
