moxy/org.eclipse.persistence.moxy/src/test/resources/org/eclipse/persistence/testing/jaxb/xmlattribute/imports2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--

    Copyright (c) 2018, 2019 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0,
    or the Eclipse Distribution License v. 1.0 which is available at
    http://www.eclipse.org/org/documents/edl-v10.php.

    SPDX-License-Identifier: EPL-2.0 OR BSD-3-Clause

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="testNamespace" elementFormDefault="qualified" targetNamespace="testNamespace">
   <xsd:import schemaLocation="schema1.xsd"/>
   <xsd:complexType name="person">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="name" type="xsd:string"/>
      </xsd:sequence>
      <xsd:attribute name="id" type="identifierType"/>
   </xsd:complexType>
   <xsd:element name="person" type="ns0:person"/>
</xsd:schema>
