moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/map/bar.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="BAR" elementFormDefault="qualified" targetNamespace="BAR">
   <xsd:complexType name="bar">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="map">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element maxOccurs="unbounded" minOccurs="0" name="entry">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element minOccurs="0" name="key" type="xsd:string"/>
                           <xsd:element minOccurs="0" name="value" type="xsd:string"/>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="bar" type="ns0:bar"/>
</xsd:schema>
