moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/map/foo.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="FOO" elementFormDefault="qualified" targetNamespace="FOO">
   <xsd:complexType name="foo">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="map">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element maxOccurs="unbounded" minOccurs="0" name="entry">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element minOccurs="0" name="key" type="xsd:string"/>
                           <xsd:element minOccurs="0" name="value" type="xsd:string"/>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="foo" type="ns0:foo"/>
</xsd:schema>
