moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/installer/WorkItem.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0

-->

<xs:schema version="1.0" targetNamespace="http://org.eclipse.persistence.testing.perf/workItem" xmlns:tns="http://org.eclipse.persistence.testing.perf/workItem" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="doWorkItem" type="tns:doWorkItem"/>

  <xs:element name="doWorkItemResponse" type="tns:doWorkItemResponse"/>

  <xs:complexType name="doWorkItem">
    <xs:sequence>
      <xs:element name="workLocation" type="xs:int"/>
      <xs:element name="wid" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="doWorkItemResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
