sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/helper/xmlhelper/namespaces/MySDO.xsd

<?xml version="1.0" standalone="yes"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0

-->

<schema elementFormDefault="qualified"
     targetNamespace="http://www.example.org/" xmlns="http://www.w3.org/2001/XMLSchema"
     xmlns:tns="http://www.example.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:sdoJava="commonj.sdo/java" sdoJava:package="myPackage">
    <complexType name="MySDO">
        <sequence>
            <element name="stringPart" type="xsd:string"/>
            <element name="intPart" type="xsd:int"/>
        </sequence>
    </complexType>
</schema>
