sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/helper/xmlhelper/namespaces/MySDO.xsd

<?xml version="1.0" standalone="yes"?>
<schema elementFormDefault="qualified"
	 targetNamespace="http://oracle.j2ee.ws.jaxws.test/" xmlns="http://www.w3.org/2001/XMLSchema"
	 xmlns:tns="http://oracle.j2ee.ws.jaxws.test/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 xmlns:sdoJava="commonj.sdo/java" sdoJava:package="oracle.j2ee.ws.jaxws.test">
	<complexType name="MySDO">
		<sequence>
			<element name="stringPart" type="xsd:string"/>
			<element name="intPart" type="xsd:int"/>
		</sequence>
	</complexType>
</schema>