sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/helper/xmlhelper/namespaces/simpleSDOSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:tns="http://www.example.org/bindinginfo/" 
xmlns="http://www.w3.org/2001/XMLSchema" 
xmlns:sdoJava="commonj.sdo/java"
targetNamespace="http://www.example.org/bindinginfo/"
sdoJava:package="myPackage">
    <element name="bindingInfo" type="tns:bindingInfoType"/>

    <complexType name="bindingInfoType">
        <sequence>
		<element name="testString" type="string"/>
        </sequence>
    </complexType>
</schema>