moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/xmlidref/whitespace.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:element name="whitespace">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:ID" name="id" />
                <xs:element type="xs:IDREF" name="idref" />
                <xs:element type="xs:IDREFS" name="idrefs" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
