moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/typemappinginfo/rootelement/JAXBElement.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="address">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="street" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="annotation-address" type="address"/>
</xsd:schema>