moxy/org.eclipse.persistence.moxy.maven/src/test/resources/org/eclipse/persistence/testing/jaxb/typemappinginfo/conflict/schema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0,
    or the Eclipse Distribution License v. 1.0 which is available at
    http://www.eclipse.org/org/documents/edl-v10.php.

    SPDX-License-Identifier: EPL-2.0 OR BSD-3-Clause

-->

<xsd:schema xmlns:ns0="namespace1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="namespace1" elementFormDefault="qualified">
   <xsd:complexType name="thing">
      <xsd:sequence>
         <xsd:element name="something" type="xsd:int"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="otherThing">
      <xsd:sequence>
         <xsd:element name="someProperty" type="xsd:int"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="thing" type="ns0:thing"/>
   <xsd:element name="otherThing" type="ns0:otherThing"/>
</xsd:schema>
