moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/inheritance/child.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="child">
      <xsd:complexContent>
         <xsd:extension base="parent">
            <xsd:sequence>
               <xsd:element minOccurs="0" name="childThing" type="xsd:string"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="parent">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="someThing" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="child" type="child"/>
</xsd:schema>