moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/typemappinginfo/collisions/conflictingListObjectsClasses.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="listOfObject">
      <xsd:sequence>
         <xsd:element maxOccurs="unbounded" minOccurs="0" nillable="true" name="item" type="xsd:anyType"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="testTagName2" type="listOfObject"/>
   <xsd:element name="testTagName1" type="listOfObject"/>
</xsd:schema>
