moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/typemappinginfo/collisions/conflictingListTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="someUri" xmlns:ns0="someUri" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:import schemaLocation="schema1.xsd"/>
   <xsd:complexType name="employee">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="firstName" type="xsd:string"/>
         <xsd:element minOccurs="0" name="lastName" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="listOfEmployee">
      <xsd:sequence>
         <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="ns0:employee"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="testTagName3" type="ns0:listOfEmployee"/>
   <xsd:element name="testTagName4" type="listOfString"/>
   <xsd:element name="testTagName5" type="listOfString2"/>
   <xsd:element name="testTagName6" type="listOfString2"/>
   <xsd:element name="testTagName2" type="ns0:listOfEmployee"/>
   <xsd:element name="testTagName1" type="ns0:listOfEmployee"/>
</xsd:schema>