moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/typemappinginfo/collisions/conflictingListTypes2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="listOfString2">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="item">
            <xsd:simpleType>
               <xsd:list itemType="xsd:string"/>
            </xsd:simpleType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="listOfString">
      <xsd:sequence>
         <xsd:element name="item" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>