moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/typemappinginfo/collisions/conflictingListObjectsClasses2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="someUri" xmlns:ns0="someUri" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="employee">
      <xsd:sequence>
         <xsd:element name="firstName" type="xsd:string" minOccurs="0"/>
         <xsd:element name="lastName" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>