moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/typemappinginfo/collisions/conflictingClassAndAdapterClass.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0

-->

<xsd:schema targetNamespace="someUri" xmlns:ns0="someUri" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="testTagName6" type="xsd:string"/>
  <xsd:element name="testTagName5" type="xsd:string"/>
  <xsd:element name="testTagName3" type="xsd:string"/>
  <xsd:element name="testTagName4" type="xsd:string"/>
  <xsd:element name="testTagName2" type="xsd:string"/>
  <xsd:element name="testTagName1" type="xsd:string"/>
</xsd:schema>
