moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/typemappinginfo/collisions/conflictingListObjectsClasses.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="listOfObject">
      <xsd:sequence>
         <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="testTagName2" type="listOfObject"/>
   <xsd:element name="testTagName1" type="listOfObject"/>
</xsd:schema>