moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/typemappinginfo/collisions/nonConflictingLists.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0,
    or the Eclipse Distribution License v. 1.0 which is available at
    http://www.eclipse.org/org/documents/edl-v10.php.

    SPDX-License-Identifier: EPL-2.0 OR BSD-3-Clause

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="listOfObject">
      <xsd:sequence>
         <xsd:element maxOccurs="unbounded" minOccurs="0" nillable="true" name="item" type="xsd:anyType"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="listOfString">
      <xsd:sequence>
         <xsd:element maxOccurs="unbounded" minOccurs="0" nillable="true" name="item" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="testTagName2" type="listOfObject"/>
   <xsd:element name="testTagName1" type="listOfString"/>
</xsd:schema>
