moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/externalizedmetadata/mappings/directcollection/employees.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="employee">
      <xsd:sequence>
         <xsd:element name="projects" minOccurs="0">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="projectId" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="private-data" minOccurs="0">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="entry" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="character-data" minOccurs="0">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="entry" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="empId" type="xsd:int" use="required"/>
      <xsd:attribute name="salaries">
         <xsd:simpleType>
            <xsd:list itemType="xsd:float"/>
         </xsd:simpleType>
      </xsd:attribute>
   </xsd:complexType>
   <xsd:element name="employee" type="employee"/>
</xsd:schema>
