moxy/org.eclipse.persistence.moxy/src/test/resources/org/eclipse/persistence/testing/jaxb/annotations/xmlnametransformer/classlevel/employeeUpper.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--

    Copyright (c) 2018, 2021 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:x="examplenamespace" targetNamespace="examplenamespace">
   <xsd:complexType name="ORG.ECLIPSE.PERSISTENCE.TESTING.JAXB.ANNOTATIONS.XMLNAMETRANSFORMER.CLASSLEVEL.UPPER.EMPLOYEE">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="FIRSTNAME" type="xsd:string"/>
         <xsd:element minOccurs="0" name="lastname" type="xsd:string"/>
         <xsd:element minOccurs="0" name="ADDRESS" type="x:org.eclipse.persistence.testing.jaxb.annotations.xmlnametransformer.classlevel.upper.address"/>
         <xsd:element minOccurs="0" name="responsibilities">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element maxOccurs="unbounded" minOccurs="0" name="responsibility" type="xsd:anyType"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element maxOccurs="unbounded" minOccurs="0" name="RESPONSIBILITIES2" nillable="true" type="xsd:anyType"/>
         <xsd:element name="SOMENUMBER" type="xsd:int"/>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:int" use="required"/>
      <xsd:attribute name="BIRTHDAY" type="xsd:dateTime"/>
   </xsd:complexType>
   <xsd:complexType name="org.eclipse.persistence.testing.jaxb.annotations.xmlnametransformer.classlevel.upper.address">
      <xsd:sequence>
         <xsd:element name="id" type="xsd:int"/>
         <xsd:element minOccurs="0" name="cityname" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="employee-data" type="x:ORG.ECLIPSE.PERSISTENCE.TESTING.JAXB.ANNOTATIONS.XMLNAMETRANSFORMER.CLASSLEVEL.UPPER.EMPLOYEE"/>
</xsd:schema>
