dbws/eclipselink.dbws.test/simpleTable/eclipselink-dbws-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  >
  <xsd:complexType name="xr_simpletableType">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:decimal"/>
      <xsd:element name="name" type="xsd:string" minOccurs="0"/>
      <xsd:element name="since" type="xsd:dateTime" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="xr_simpletable" type="xr_simpletableType"/>
</xsd:schema>