moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/externalizedmetadata/mappings/multiple/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="customDateType">
      <xsd:sequence>
         <xsd:element name="year" type="xsd:int"/>
         <xsd:element name="month" type="xsd:int"/>
         <xsd:element name="day" type="xsd:int"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="customQuoteRequest">
      <xsd:sequence>
         <xsd:element name="QuoteReq" minOccurs="0">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="Instrmt" minOccurs="0">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="Ordered" type="xsd:date" minOccurs="0"/>
                        </xsd:sequence>
                        <xsd:attribute name="Sym" type="xsd:string"/>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="Leg" minOccurs="0">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="Ordered" type="xsd:dateTime" minOccurs="0"/>
                        </xsd:sequence>
                        <xsd:attribute name="Sym" type="xsd:string"/>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
               <xsd:attribute name="ReqId" type="xsd:string"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="OrderDate" type="customDateType" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="QuoteRequest" type="customQuoteRequest"/>
</xsd:schema>
