sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/helper/xmlhelper/changesummary/bug6346754/Process.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0

-->

<xsd:schema elementFormDefault="qualified"
            targetNamespace="http://example.com/process/"
            xmlns="http://example.com/process/"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:sdo="commonj.sdo"
            xmlns:sdoJava="commonj.sdo/java"
            sdoJava:package="mypackage.process">
  <xsd:import namespace="commonj.sdo" schemaLocation="classpath:/xml/sdoModel.xsd"/>
  <xsd:import namespace="commonj.sdo/java"/>
  <xsd:element name="processData" type="ProcessData"/>
  <xsd:complexType name="MethodResult">
      <xsd:sequence>
         <xsd:element name="Message" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
  <xsd:complexType name="ProcessData">
    <xsd:complexContent>
      <xsd:extension base="MethodResult">
        <xsd:sequence>
          <xsd:element name="Value" type="xsd:anyType" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="ChangeSummary" type="sdo:ChangeSummaryType" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
