sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/helper/xmlhelper/changesummary/bug6346754/SupplierService.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://xmnls.oracle.com/apps/sv/supplier/supplierService/v1/types/"
     xmlns:tns="http://xmnls.oracle.com/apps/sv/supplier/supplierService/v1/types/" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:ns1="http://xmnls.oracle.com/apps/sv/supplier/supplierService/v1/">
    <import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <import namespace="http://xmnls.oracle.com/apps/sv/supplier/supplierService/v1/" schemaLocation="SupplierSite.xsd"/>
    <import namespace="http://xmnls.oracle.com/apps/sv/supplier/supplierService/v1/" schemaLocation="Supplier.xsd"/>
    <import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JServiceCS.xsd"/>
    <element name="createSupplierWithDefaultSite">
        <complexType>
            <sequence>
                <element name="supplier" type="ns1:Supplier"/>
            </sequence>
        </complexType>
    </element>
    <element name="createSupplierWithDefaultSiteResponse">
        <complexType>
            <sequence/>
        </complexType>
    </element>
    <element name="createSuppliersWithDefaultSite">
        <complexType>
            <sequence>
                <element name="suppliers" type="ns1:Supplier" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>
    <element name="createSuppliersWithDefaultSiteResponse">
        <complexType>
            <sequence/>
        </complexType>
    </element>
    <element name="findSupplierBySiteId">
        <complexType>
            <sequence>
                <element name="siteId" type="long"/>
            </sequence>
        </complexType>
    </element>
    <element name="findSupplierBySiteIdResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns1:SupplierResult"/>
            </sequence>
        </complexType>
    </element>
    <element name="findSupplierListBySiteId">
        <complexType>
            <sequence>
                <element name="siteIds" type="long" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>
    <element name="findSupplierListBySiteIdResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns1:SupplierResult"/>
            </sequence>
        </complexType>
    </element>
    <element name="getSupplierName">
        <complexType>
            <sequence>
                <element name="supplierId" type="long"/>
            </sequence>
        </complexType>
    </element>
    <element name="getSupplierNameResponse">
        <complexType>
            <sequence>
                <element name="result" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="getSupplierNames">
        <complexType>
            <sequence>
                <element name="supplierIds" type="long" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>
    <element name="getSupplierNamesResponse">
        <complexType>
            <sequence>
                <element name="result" type="string" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>
    <element name="getSupplier">
        <complexType>
            <sequence>
                <element name="supplierId" type="long"/>
            </sequence>
        </complexType>
    </element>
    <element name="getSupplierResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns1:Supplier"/>
            </sequence>
        </complexType>
    </element>
    <element name="createSupplier">
        <complexType>
            <sequence>
                <element name="supplier" type="ns1:Supplier"/>
            </sequence>
        </complexType>
    </element>
    <element name="createSupplierResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns1:SupplierResult"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateSupplier">
        <complexType>
            <sequence>
                <element name="supplier" type="ns1:Supplier"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateSupplierResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns1:SupplierResult"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteSupplier">
        <complexType>
            <sequence>
                <element name="supplier" type="ns1:Supplier"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteSupplierResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:MethodResult"/>
            </sequence>
        </complexType>
    </element>
    <element name="mergeSupplier">
        <complexType>
            <sequence>
                <element name="supplier" type="ns1:Supplier"/>
            </sequence>
        </complexType>
    </element>
    <element name="mergeSupplierResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns1:SupplierResult"/>
            </sequence>
        </complexType>
    </element>
    <element name="findSupplier">
        <complexType>
            <sequence>
                <element name="findCriteria" type="ns0:FindCriteria"/>
                <element name="findControl" type="ns0:FindControl"/>
            </sequence>
        </complexType>
    </element>
    <element name="findSupplierResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns1:SupplierResult"/>
            </sequence>
        </complexType>
    </element>
    <element name="processSupplier">
        <complexType>
            <sequence>
                <element name="changeOperation" type="string"/>
                <element name="supplier" type="ns1:Supplier" minOccurs="0" maxOccurs="unbounded"/>
                <element name="processControl" type="ns0:ProcessControl"/>
            </sequence>
        </complexType>
    </element>
    <element name="processSupplierResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns1:SupplierResult"/>
            </sequence>
        </complexType>
    </element>
    <element name="processCSSupplier">
        <complexType>
            <sequence>
                <element name="processData" type="ns0:ProcessData"/>
                <element name="processControl" type="ns0:ProcessControl"/>
            </sequence>
        </complexType>
    </element>
    <element name="processCSSupplierResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:ProcessData"/>
            </sequence>
        </complexType>
    </element>
    <element name="getSupplierSite">
        <complexType>
            <sequence>
                <element name="supplierSiteId" type="long"/>
            </sequence>
        </complexType>
    </element>
    <element name="getSupplierSiteResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns1:SupplierSite"/>
            </sequence>
        </complexType>
    </element>
    <element name="createSupplierSite">
        <complexType>
            <sequence>
                <element name="supplierSite" type="ns1:SupplierSite"/>
            </sequence>
        </complexType>
    </element>
    <element name="createSupplierSiteResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns1:SupplierSite"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateSupplierSite">
        <complexType>
            <sequence>
                <element name="supplierSite" type="ns1:SupplierSite"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateSupplierSiteResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns1:SupplierSite"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteSupplierSite">
        <complexType>
            <sequence>
                <element name="supplierSite" type="ns1:SupplierSite"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteSupplierSiteResponse">
        <complexType>
            <sequence/>
        </complexType>
    </element>
    <element name="mergeSupplierSite">
        <complexType>
            <sequence>
                <element name="supplierSite" type="ns1:SupplierSite"/>
            </sequence>
        </complexType>
    </element>
    <element name="mergeSupplierSiteResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns1:SupplierSite"/>
            </sequence>
        </complexType>
    </element>
    <element name="findSupplierSite">
        <complexType>
            <sequence>
                <element name="findCriteria" type="ns0:FindCriteria"/>
                <element name="findControl" type="ns0:FindControl"/>
            </sequence>
        </complexType>
    </element>
    <element name="findSupplierSiteResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns1:SupplierSite" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>
    <element name="processSupplierSite">
        <complexType>
            <sequence>
                <element name="changeOperation" type="string"/>
                <element name="supplierSite" type="ns1:SupplierSite" minOccurs="0" maxOccurs="unbounded"/>
                <element name="processControl" type="ns0:ProcessControl"/>
            </sequence>
        </complexType>
    </element>
    <element name="processSupplierSiteResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns1:SupplierSite" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>
    <element name="processCSSupplierSite">
        <complexType>
            <sequence>
                <element name="processData" type="ns0:ProcessData"/>
                <element name="processControl" type="ns0:ProcessControl"/>
            </sequence>
        </complexType>
    </element>
    <element name="processCSSupplierSiteResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:ProcessData"/>
            </sequence>
        </complexType>
    </element>
</schema>
