sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/helper/xmlhelper/changesummary/bug6346754/Supplier.xsd

<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0

-->

<xsd:schema targetNamespace="http://example.com/supplier/" xmlns="http://example.com/supplier/"
     elementFormDefault="qualified" sdoJava:package="mypackage.supplier"
     xmlns:sdoXML="commonj.sdo/xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sdoJava="commonj.sdo/java"
     xmlns:ns0="http://example.com/process/">
    <xsd:import schemaLocation="Process.xsd" namespace="http://example.com/process/"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="classpath:/xml/sdoJava.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="classpath:/xml/sdoXML.xsd"/>
    <xsd:include schemaLocation="SupplierSite.xsd"/>
    <xsd:complexType name="SupplierResult">
        <xsd:complexContent>
            <xsd:extension base="ns0:MethodResult">
                <xsd:sequence>
                    <xsd:element name="Value" type="Supplier" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Supplier">
        <xsd:sequence>
            <xsd:element name="SupplierId" type="xsd:long" minOccurs="0" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element name="Name" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="OnHoldFlag" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="SupplierSite" type="SupplierSite" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="supplierResult" type="SupplierResult"/>
    <xsd:element name="supplier" type="Supplier"/>
</xsd:schema>
