sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/helper/xmlhelper/changesummary/bug335242/schema2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:pi="pi" targetNamespace="pi" xmlns:sdo="commonj.sdo">
   <xsd:import namespace="commonj.sdo" schemaLocation="classpath:/xml/sdoModel.xsd"/>
<xsd:element name="productInstance" type="pi:ProductInstanceConfiguratorType"/>
  <xsd:complexType name="ProductInstanceConfiguratorType">
    <xsd:sequence>
      <xsd:element name="header" minOccurs="1" maxOccurs="1" type="pi:HeaderType"/>
      <!-- xsd:element name="line" minOccurs="1" maxOccurs="unbounded" type="pi:LineType"/-->
      <xsd:element name="changeSummary" type="sdo:ChangeSummaryType" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="HeaderType">
    <xsd:sequence>
      <xsd:element name="headerId" minOccurs="1" maxOccurs="1" type="sdo:Long"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
