moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/externalizedmetadata/xmlanyattribute/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="employee">
      <xsd:sequence>
         <xsd:element name="a" type="xsd:int"/>
         <xsd:element name="b" type="xsd:string" minOccurs="0"/>
         <xsd:any processContents="skip" namespace="##other"/>
      </xsd:sequence>
      <xsd:anyAttribute processContents="skip" namespace="##other"/>
   </xsd:complexType>
   <xsd:element name="employee" type="employee"/>
</xsd:schema>