moxy/org.eclipse.persistence.moxy/src/test/resources/org/eclipse/persistence/testing/jaxb/typemappinginfo/collisions/conflictingCollections.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018, 2021 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="collectionOfObject">
      <xsd:sequence>
         <xsd:element nillable="true" maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="collectionTag6" type="collectionOfObject"/>
   <xsd:element name="collectionTag5" type="collectionOfObject"/>
   <xsd:element name="collectionTag4" type="collectionOfObject"/>
   <xsd:element name="collectionTag3" type="collectionOfObject"/>
   <xsd:element name="collectionTag2" type="collectionOfObject"/>
   <xsd:element name="collectionTag1" type="collectionOfObject"/>
</xsd:schema>
