moxy/org.eclipse.persistence.moxy/src/test/resources/org/eclipse/persistence/testing/jaxb/typemappinginfo/collisions/conflictingStringArrayClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--

    Copyright (c) 2018, 2021 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://jaxb.dev.java.net/array" targetNamespace="http://jaxb.dev.java.net/array">
   <xsd:complexType name="stringArray">
      <xsd:sequence>
         <xsd:element maxOccurs="unbounded" minOccurs="0" nillable="true" name="item" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="testTagName3" type="ns0:stringArray"/>
   <xsd:element name="testTagName2" type="ns0:stringArray"/>
   <xsd:element name="testTagName1" type="ns0:stringArray"/>
</xsd:schema>
