moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/typemappinginfo/BigByteArray.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://jaxb.dev.java.net/array" targetNamespace="http://jaxb.dev.java.net/array"> 
   <xsd:complexType name="byteArray">
      <xsd:sequence>
         <xsd:element name="item" type="xsd:byte" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="testTagName" type="ns0:byteArray"/>
</xsd:schema>
