moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/typemappinginfo/duplicatelistofstrings1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:complexType name="listOfObject2">
      <xsd:sequence>
         <xsd:element nillable="true" maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="listOfObject">
      <xsd:list itemType="xsd:anyType"/>
   </xsd:simpleType>
   <xsd:complexType name="listOfString">
      <xsd:sequence>
         <xsd:element nillable="true" name="item" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
