moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/typemappinginfo/listOfByteObjectArray.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="listOfByteArray">
      <xsd:sequence>
         <xsd:element name="item" type="xsd:base64Binary" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="testTagname" type="listOfByteArray"/>
</xsd:schema>
