moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/typemappinginfo/listOfByteArray.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="listOfbyteArray">
      <xsd:sequence>
         <xsd:element name="item" type="xsd:base64Binary" nillable="true" maxOccurs="unbounded" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="testTagname" type="listOfbyteArray"/>
</xsd:schema>
