moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/typemappinginfo/maptoemployee.xsd

<xsd:schema targetNamespace="someUri" xmlns:ns0="someUri" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="employee">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="firstName" type="xsd:string"/>
         <xsd:element minOccurs="0" name="lastName" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="testTagname" type="ns0:employee"/>
</xsd:schema>