moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/typemappinginfo/stringtolist.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="listOfString">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="item">
            <xsd:simpleType>
               <xsd:list itemType="xsd:string"/>
            </xsd:simpleType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="testTagname" type="listOfString"/>
</xsd:schema>