sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/helper/xmlhelper/load/268335.xsd

<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0

-->

<xs:schema targetNamespace="uuid:types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="AStruct">
        <xs:sequence>
            <xs:element name="stringVal" type="xs:string"/>
            <xs:element name="intVal" type="xs:int"/>
            <xs:element name="dateTimeVal" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
