moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/xmlvalue/none/validChild.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="validChild">
      <xsd:simpleContent>
         <xsd:extension base="xsd:string">
            <xsd:attribute name="parent-attribute" type="xsd:string"/>
            <xsd:anyAttribute namespace="##other" processContents="skip"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:element name="child" type="validChild"/>
</xsd:schema>