moxy/org.eclipse.persistence.moxy/src/test/resources/org/eclipse/persistence/testing/jaxb/externalizedmetadata/mappings/direct/employees.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018, 2021 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<xsd:schema xmlns:ns0="http://www.example.com/employees" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:prj="http://www.example.com/projects" targetNamespace="http://www.example.com/employees">
   <xsd:import schemaLocation="schema2.xsd" namespace="http://www.example.com/projects"/>
   <xsd:complexType name="employee">
      <xsd:sequence>
         <xsd:element name="projects" minOccurs="0">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element ref="prj:project" minOccurs="0"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="project-id" type="xsd:int" default="999"/>
         <xsd:element name="info" minOccurs="0">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="personal-info" minOccurs="0">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="first-name" type="xsd:string" minOccurs="0"/>
                           <xsd:element name="last-name" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="pieces-of-data" minOccurs="0">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="data" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="private-data" type="xsd:string" minOccurs="0"/>
         <xsd:element name="character-data" type="xsd:string" minOccurs="0"/>
         <xsd:element name="some-string" type="xsd:string" minOccurs="0" nillable="true"/>
         <xsd:element name="a-string" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:int" use="required"/>
      <xsd:attribute name="salary" type="xsd:double"/>
   </xsd:complexType>
   <xsd:element name="employee" type="ns0:employee"/>
</xsd:schema>
