sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/helper/jaxbhelper/oppositeproperty/OppositeProperty.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0

-->

<xs:schema elementFormDefault="qualified" targetNamespace="urn:opposite" xmlns:tns="urn:opposite" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sdox="commonj.sdo/xml">
        <xs:import namespace="commonj.sdo/xml" />
                <xs:complexType name="root">
                <xs:sequence>
                        <xs:element name="child1" type="tns:child1"/>
                        <xs:element name="child2" type="tns:child2"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="child1">
                <xs:sequence>
                        <xs:element name="child2" type="xs:IDREF" minOccurs="0" sdox:propertyType="tns:child2" sdox:oppositeProperty="child1"/>
                        <xs:element name="child2collection" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded" sdox:propertyType="tns:child2" sdox:oppositeProperty="child1"/>
                </xs:sequence>
                <xs:attribute name="id" type="xs:ID"/>
        </xs:complexType>
        <xs:complexType name="child2">
                <xs:sequence>
                        <xs:element name="child1" type="xs:IDREF" minOccurs="0" sdox:propertyType="tns:child1" sdox:oppositeProperty="child2"/>
                </xs:sequence>
                <xs:attribute name="id" type="xs:ID"/>
        </xs:complexType>
</xs:schema>
