moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/externalizedmetadata/xmlschematype/schema3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="employeeWithAnnotationOnMethod">
      <xsd:sequence>
         <xsd:element name="hireDate" type="xsd:date" minOccurs="0"/>
         <xsd:element name="id" type="xsd:string" />
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
