moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/externalizedmetadata/xmlschematype/schema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="employee">
      <xsd:sequence>
         <xsd:element name="hireDate" type="xsd:date" minOccurs="0" />
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:string" use="required" />
   </xsd:complexType>
   <xsd:element name="employee" type="employee" />
</xsd:schema>
