moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/externalizedmetadata/xmlschematype/schema1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="employeeWithAnnotation">
      <xsd:sequence>
         <xsd:element name="hireDate" type="xsd:date" minOccurs="0"/>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:string" use="required" />
   </xsd:complexType>
   <xsd:element name="employee" type="employeeWithAnnotation"/>
</xsd:schema>
