moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/externalizedmetadata/xmlattachmentref/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="attTypes">
      <xsd:sequence>
         <xsd:element name="body" type="xsd:swaRef" minOccurs="0"/>
         <xsd:element name="thing" type="xsd:anyType" minOccurs="0"/>
      </xsd:sequence>
      <xsd:attribute name="data" type="xsd:swaRef"/>
   </xsd:complexType>
   <xsd:element name="att-types" type="attTypes"/>
</xsd:schema>
