moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/externalizedmetadata/mappings/compositecollection/contacts.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:ns1="http://www.example.com/employees" xmlns:ns0="http://www.example.com/contacts" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.com/contacts">
   <xsd:import schemaLocation="schema0.xsd" namespace="http://www.example.com/employees"/>
   <xsd:element name="contact-info">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="addresses">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="address" type="ns1:address" minOccurs="0" maxOccurs="unbounded"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>
