moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/externalizedmetadata/xmltransient/transientProperty.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="contactInfo">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="phoneNumber" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="contact-info" type="contactInfo"/>
</xsd:schema>