moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/oxm/schemamodelgenerator/eltFrmQualifiedNoDRE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="myns:examplenamespace" xmlns="myns:examplenamespace" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="phone-number-type">
      <xsd:sequence>
         <xsd:element name="number" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
      <xsd:anyAttribute processContents="lax"/>
   </xsd:complexType>
   <xsd:complexType name="address-type">
      <xsd:sequence>
         <xsd:element name="street" type="xsd:string" minOccurs="0"/>
         <xsd:element name="city" type="xsd:string" minOccurs="0"/>
         <xsd:element name="country" type="xsd:string" minOccurs="0"/>
         <xsd:any processContents="lax" minOccurs="0"/>
         <xsd:element name="occupant" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="aid" type="xsd:int"/>
      <xsd:attribute name="postal-code" type="xsd:string"/>
   </xsd:complexType>
   <xsd:complexType name="employee-type">
      <xsd:sequence>
         <xsd:element name="name" type="xsd:string" minOccurs="0"/>
         <xsd:element name="address" type="address-type" minOccurs="0"/>
         <xsd:element name="phone-numbers" type="phone-number-type" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="project-id" type="xsd:decimal" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="bill-address-city" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
      <xsd:attribute name="bill-address-id" type="xsd:int"/>
   </xsd:complexType>
</xsd:schema>
