moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/jaxbcontext/withjaxbindex/jaxbcontextbycontextpath.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="classC"/>
   <xsd:complexType name="classB">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="name" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="classA">
      <xsd:sequence>
         <xsd:element maxOccurs="unbounded" minOccurs="0" name="theValues" nillable="true" type="xsd:string"/>
         <xsd:element minOccurs="0" name="theValue" type="xsd:anyType"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType mixed="true" name="classAWithElementRef">
      <xsd:sequence>
         <xsd:element maxOccurs="unbounded" minOccurs="0" name="theValues" nillable="true" type="xsd:string"/>
         <xsd:element ref="a"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="classA" type="classA"/>
   <xsd:element name="a" type="xsd:string"/>
   <xsd:element name="classAWithElementRef" type="classAWithElementRef"/>
</xsd:schema>