sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/helper/xmlhelper/loadandsave/GlobalAttributes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0

-->

<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.example.org"
    xmlns="http://www.example.org"
    elementFormDefault="qualified">

    <xsd:attribute name="global-before" type="xsd:string"/>

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:attribute ref="global-before"/>
            <xsd:attribute ref="global-after"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:attribute name="global-after" type="xsd:string"/>

</xsd:schema>
