moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/externalizedmetadata/xmlschema/namespace/linked/author.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0

-->

<xsd:schema xmlns:ns0="http://www.example.org/linked/author" xmlns:ns1="http://www.example.org/linked/address" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/linked/author" elementFormDefault="qualified">
   <xsd:import schemaLocation="address.xsd" namespace="http://www.example.org/linked/address"/>
   <xsd:complexType name="author">
      <xsd:sequence>
         <xsd:element name="firstName" type="xsd:string" minOccurs="0"/>
         <xsd:element name="lastName" type="xsd:string" minOccurs="0"/>
         <xsd:element name="address" type="ns1:address" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
