moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/beanvalidation/sgen_xjc/golden_file.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:ns0="gf" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="gf" elementFormDefault="qualified">
   <xsd:complexType name="Main">
      <xsd:sequence>
         <xsd:element name="numbers" type="ns0:Numbers"/>
         <xsd:element name="strings" type="ns0:Strings" maxOccurs="2"/>
         <xsd:element name="unsignedByte" nillable="true">
            <xsd:simpleType>
               <xsd:restriction base="xsd:short">
                  <xsd:minInclusive value="0"/>
                  <xsd:maxInclusive value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="byteArray">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="18"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
          <xsd:element name="someCollection" type="xsd:anyType" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Numbers">
      <xsd:sequence>
         <xsd:element name="minInclusive">
            <xsd:simpleType>
               <xsd:restriction base="xsd:long">
                  <xsd:minInclusive value="1000"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="maxInclusive">
            <xsd:simpleType>
               <xsd:restriction base="xsd:long">
                  <xsd:maxInclusive value="1000"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="minExclusive">
            <xsd:simpleType>
               <xsd:restriction base="xsd:long">
                  <xsd:minExclusive value="0"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="maxExclusive">
            <xsd:simpleType>
               <xsd:restriction base="xsd:long">
                  <xsd:maxExclusive value="1000"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="minMaxExclusive">
            <xsd:simpleType>
               <xsd:restriction base="xsd:int">
                  <xsd:minExclusive value="0"/>
                  <xsd:maxExclusive value="9223372"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="NumberWithHiddenValueAttribute" type="ns0:NumberWithHiddenValueAttribute"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="NumberWithHiddenValueAttribute">
      <xsd:simpleContent>
         <xsd:extension base="xsd:string">
            <xsd:attribute name="code" type="xsd:string" use="required"/>
            <xsd:attribute name="whatNumber" type="xsd:long" use="required"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="Strings">
      <xsd:sequence>
         <xsd:element name="regexShorthands">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                   <!--\i - Matches any character that may be the first character of an XML name.-->
                  <xsd:pattern value="\i"/>
                  <xsd:pattern value="\I"/>
                   <!--\c - Matches any character that may occur after the first character in an XML name.-->
                  <xsd:pattern value="\c"/>
                  <xsd:pattern value="\C"/>
                   <!--\d - All digits.-->
                  <xsd:pattern value="\d"/>
                  <xsd:pattern value="\D"/>
                   <!--\w - Word character.-->
                  <xsd:pattern value="\w"/>
                  <xsd:pattern value="\W"/>
                   <!--\s - Whitespace character.-->
                  <xsd:pattern value="\s"/>
                  <xsd:pattern value="\S"/>
                   <!--\b, \B - Boundary definitions.-->
                  <xsd:pattern value="\b"/>
                  <xsd:pattern value="\B"/>
                   <!--\h - Horizontal whitespace character - Java does not support, changed in Java 8 though.-->
                  <xsd:pattern value="\h"/>
                  <xsd:pattern value="\H"/>
                   <!--\v - Vertical whitespace character - Java translates the shorthand to \cK only, meaning changed in Java 8 though.-->
                  <xsd:pattern value="\v"/>
                  <xsd:pattern value="\V"/>
                   <!--\X - Extended grapheme cluster.-->
                   <xsd:pattern value="\X"/>
                   <!--\R - Carriage return.-->
                  <xsd:pattern value="\R"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="idType">
            <xsd:simpleType>
               <xsd:restriction base="xsd:ID">
                  <xsd:maxLength value="100"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="genericString">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="1024"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="maxLength">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="1024"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="minLength" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="main" type="ns0:Main"/>
</xsd:schema>
