moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/externalizedmetadata/xmlid/customer_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="customer">
      <xsd:sequence/>
      <xsd:attribute name="id" type="xsd:ID"/>
   </xsd:complexType>
   <xsd:element name="customer" type="customer"/>
   <xsd:simpleType name="myID">
      <xsd:restriction base="xsd:string"/>
   </xsd:simpleType>
</xsd:schema>