moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/externalizedmetadata/mappings/direct/employees.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:ns0="http://www.example.com/employees" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:prj="http://www.example.com/projects" targetNamespace="http://www.example.com/employees">
   <xsd:import schemaLocation="schema1.xsd" namespace="http://www.example.com/projects"/>
   <xsd:complexType name="employee">
      <xsd:sequence>
         <xsd:element name="projects" minOccurs="0">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element ref="prj:project" minOccurs="0"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="project-id" type="xsd:int" default="999"/>
         <xsd:element name="info" minOccurs="0">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="personal-info" minOccurs="0">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="first-name" type="xsd:string" minOccurs="0"/>
                           <xsd:element name="last-name" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="pieces-of-data" minOccurs="0">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="data" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="private-data" type="xsd:string" minOccurs="0"/>
         <xsd:element name="character-data" type="xsd:string" minOccurs="0"/>
         <xsd:element name="some-string" type="xsd:string" minOccurs="0" nillable="true"/>
         <xsd:element name="a-string" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:int" use="required"/>
      <xsd:attribute name="salary" type="xsd:double"/>
   </xsd:complexType>
   <xsd:element name="employee" type="ns0:employee"/>
</xsd:schema>