moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/externalizedmetadata/mappings/direct/projects.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:ns0="http://www.example.com/projects" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.com/projects">
   <xsd:element name="project">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="name" type="xsd:string" minOccurs="0"/>
         </xsd:sequence>
         <xsd:attribute ref="ns0:managerId"/>
      </xsd:complexType>
   </xsd:element>
   <xsd:attribute name="managerId" type="xsd:int"/>
</xsd:schema>
