moxy/org.eclipse.persistence.moxy/src/test/resources/org/eclipse/persistence/testing/oxm/schemamodelgenerator/required/required.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018, 2021 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:element name="required-test-object">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="direct" type="xsd:string"/>
            <xsd:element name="directCollection" type="xsd:string" maxOccurs="unbounded"/>
            <xsd:element name="compositeObject">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="value" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="compositeCollection" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="value" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="directAttribute" type="xsd:string" use="required"/>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>
