moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/externalizedmetadata/xmlvalue/cdnpriceinheritance_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="cdnPriceBase"/>
   <xsd:element name="canadian-price" type="cdnPriceInheritance"/>
   <xsd:simpleType name="cdnPriceInheritance">
      <xsd:restriction base="xsd:decimal"/>
   </xsd:simpleType>
</xsd:schema>
