moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/externalizedmetadata/xmlelementwrapper/schema_xmlelement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="employee">
      <xsd:sequence>
         <xsd:element name="my-digits" nillable="true">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="a-digit" type="xsd:int" maxOccurs="unbounded"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="thing" type="xsd:anyType" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="employee" type="employee"/>
</xsd:schema>
