moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/externalizedmetadata/mappings/xmlinversereference/root.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="phoneNumber">
      <xsd:sequence>
         <xsd:element name="id" type="xsd:ID" minOccurs="0"/>
         <xsd:element name="number" type="xsd:string" minOccurs="0"/>
         <xsd:element name="emp" type="employee" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="root">
      <xsd:sequence>
         <xsd:element name="employee" type="employee" minOccurs="0"/>
         <xsd:element name="address" type="address" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="phone-number" type="phoneNumber" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="address">
      <xsd:sequence>
         <xsd:element name="street" type="xsd:string" minOccurs="0"/>
         <xsd:element name="city" type="xsd:string" minOccurs="0"/>
         <xsd:element name="country" type="xsd:string" minOccurs="0"/>
         <xsd:element name="zip" type="xsd:string" minOccurs="0"/>
         <xsd:element name="emp" type="employee" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="aid" type="xsd:ID"/>
   </xsd:complexType>
   <xsd:complexType name="employee">
      <xsd:sequence>
         <xsd:element name="name" type="xsd:string" minOccurs="0"/>
         <xsd:element name="phone-id" type="xsd:IDREF" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:ID"/>
      <xsd:attribute name="address-id" type="xsd:IDREF"/>
   </xsd:complexType>
   <xsd:element name="root" type="root"/>
   <xsd:element name="address" type="address"/>
   <xsd:element name="employee" type="employee"/>
</xsd:schema>
