moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/schemagen/imports/someExistingSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="addressNamespace" xmlns:xsd="http://www.w3.org/2001/XMLSchema">  
   <xsd:complexType name="address-type">
      <xsd:sequence>
         <xsd:element name="country-name" type="xsd:string" minOccurs="0"/>
         <xsd:element name="street-name" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
      <xsd:attribute name="postal-code" type="xsd:string"/>
   </xsd:complexType>
</xsd:schema>
