moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/xmlattribute/employee_nonamespace.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="employeeNoNamespace">
      <xsd:sequence/>
      <xsd:attribute name="id" type="xsd:int" use="required"/>
      <xsd:attribute name="country" type="xsd:string" fixed="CANADA"/>
   </xsd:complexType>
   <xsd:element name="employee-data" type="employeeNoNamespace"/>
</xsd:schema>
