moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/xmlattribute/empty_namespace.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0

-->

<xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="theNamespace" xmlns:ns0="theNamespace" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="emptyNamespaceTestObject">
      <xsd:sequence>
         <xsd:element form="unqualified" minOccurs="0" name="theElementTestString" type="xsd:string"/>
      </xsd:sequence>
      <xsd:attribute name="theTestString" type="xsd:string" form="unqualified"/>
   </xsd:complexType>
   <xsd:element name="root" type="ns0:emptyNamespaceTestObject"/>
</xsd:schema>
