moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/xmlattribute/form_unqualified.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="theNamespace" targetNamespace="theNamespace">
   <xsd:complexType name="testObject">
      <xsd:sequence>
         <xsd:element form="qualified" minOccurs="0" name="theElementTestString" type="xsd:string"/>
      </xsd:sequence>
      <xsd:attribute ref="ns0:theTestString"/>
   </xsd:complexType>
   <xsd:element name="root" type="ns0:testObject"/>
   <xsd:attribute name="theTestString" type="xsd:string"/>
</xsd:schema>
