moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/xmlinlinebinary/xmlinlinebinary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="myDataPropertyAnnotation">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="bytes" type="xsd:base64Binary"/>
         <xsd:element minOccurs="0" name="bigBytes" nillable="true" maxOccurs="unbounded" type="xsd:byte"/>
      </xsd:sequence>
      <xsd:attribute name="bytesAttr" type="xsd:base64Binary"/>
   </xsd:complexType>
   <xsd:element name="my-data" type="myDataPropertyAnnotation"/>
</xsd:schema>