sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/helper/xmlhelper/changesummary/bug6120161/HRAppService.xsd

<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0

-->

<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://example.com/app/"
     xmlns:tns="http://example.com/app/" xmlns:ns0="http://example.com/process/"
     xmlns:ns1="http://example.com/dept/">
    <import namespace="http://example.com/dept/" schemaLocation="Dept.xsd"/>
    <import namespace="http://example.com/dept/" schemaLocation="Emp.xsd"/>
    <import namespace="http://example.com/process/" schemaLocation="Process.xsd"/>
    <element name="processCSDeptElement">
        <complexType>
            <sequence>
                <element name="processData" type="ns0:ProcessData"/>
            </sequence>
        </complexType>
    </element>
    <element name="processCSDeptResponseElement">
        <complexType>
            <sequence>
                <element name="result" type="ns0:ProcessData"/>
            </sequence>
        </complexType>
    </element>
</schema>
