sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/helper/xmlhelper/changesummary/bug6120161/HRAppService.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://example.com/hr/types/"
     xmlns:tns="http://example.com/hr/types/" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:ns1="http://example.com/hr/">
    <import namespace="http://example.com/hr/" schemaLocation="Dept.xsd"/>
    <import namespace="http://example.com/hr/" schemaLocation="Emp.xsd"/>
    <import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JServiceCS.xsd"/>
    <element name="getTotalCompElement">
        <complexType>
            <sequence>
                <element name="empno" type="integer"/>
            </sequence>
        </complexType>
    </element>
    <element name="getTotalCompResponseElement">
        <complexType>
            <sequence>
                <element name="result" type="decimal"/>
            </sequence>
        </complexType>
    </element>
    <element name="getManagerAndPeersElement">
        <complexType>
            <sequence>
                <element name="empno" type="integer"/>
            </sequence>
        </complexType>
    </element>
    <element name="getManagerAndPeersResponseElement">
        <complexType>
            <sequence>
                <element name="result" type="ns1:Emp" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>
    <element name="getDeptElement">
        <complexType>
            <sequence>
                <element name="deptno" type="integer"/>
            </sequence>
        </complexType>
    </element>
    <element name="getDeptResponseElement">
        <complexType>
            <sequence>
                <element name="result" type="ns1:Dept"/>
            </sequence>
        </complexType>
    </element>
    <element name="createDeptElement">
        <complexType>
            <sequence>
                <element name="dept" type="ns1:Dept"/>
            </sequence>
        </complexType>
    </element>
    <element name="createDeptResponseElement">
        <complexType>
            <sequence>
                <element name="result" type="ns1:Dept"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateDeptElement">
        <complexType>
            <sequence>
                <element name="dept" type="ns1:Dept"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateDeptResponseElement">
        <complexType>
            <sequence>
                <element name="result" type="ns1:Dept"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteDeptElement">
        <complexType>
            <sequence>
                <element name="dept" type="ns1:Dept"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteDeptResponseElement">
        <complexType>
            <sequence/>
        </complexType>
    </element>
    <element name="mergeDeptElement">
        <complexType>
            <sequence>
                <element name="dept" type="ns1:Dept"/>
            </sequence>
        </complexType>
    </element>
    <element name="mergeDeptResponseElement">
        <complexType>
            <sequence>
                <element name="result" type="ns1:Dept"/>
            </sequence>
        </complexType>
    </element>
    <element name="findDeptElement">
        <complexType>
            <sequence>
                <element name="findCriteria" type="ns0:FindCriteria"/>
                <element name="findControl" type="ns0:FindControl"/>
            </sequence>
        </complexType>
    </element>
    <element name="findDeptResponseElement">
        <complexType>
            <sequence>
                <element name="result" type="ns1:Dept" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>
    <element name="processDeptElement">
        <complexType>
            <sequence>
                <element name="changeOperation" type="string"/>
                <element name="dept" type="ns1:Dept" minOccurs="0" maxOccurs="unbounded"/>
                <element name="processControl" type="ns0:ProcessControl"/>
            </sequence>
        </complexType>
    </element>
    <element name="processDeptResponseElement">
        <complexType>
            <sequence>
                <element name="result" type="ns1:Dept" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>
    <element name="processCSDeptElement">
        <complexType>
            <sequence>
                <element name="processData" type="ns0:ProcessData"/>
                <element name="processControl" type="ns0:ProcessControl"/>
            </sequence>
        </complexType>
    </element>
    <element name="processCSDeptResponseElement">
        <complexType>
            <sequence>
                <element name="result" type="ns0:ProcessData"/>
            </sequence>
        </complexType>
    </element>
    <element name="getEmpElement">
        <complexType>
            <sequence>
                <element name="empno" type="integer"/>
            </sequence>
        </complexType>
    </element>
    <element name="getEmpResponseElement">
        <complexType>
            <sequence>
                <element name="result" type="ns1:Emp"/>
            </sequence>
        </complexType>
    </element>
    <element name="createEmpElement">
        <complexType>
            <sequence>
                <element name="emp" type="ns1:Emp"/>
            </sequence>
        </complexType>
    </element>
    <element name="createEmpResponseElement">
        <complexType>
            <sequence>
                <element name="result" type="ns1:Emp"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateEmpElement">
        <complexType>
            <sequence>
                <element name="emp" type="ns1:Emp"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateEmpResponseElement">
        <complexType>
            <sequence>
                <element name="result" type="ns1:Emp"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteEmpElement">
        <complexType>
            <sequence>
                <element name="emp" type="ns1:Emp"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteEmpResponseElement">
        <complexType>
            <sequence/>
        </complexType>
    </element>
    <element name="mergeEmpElement">
        <complexType>
            <sequence>
                <element name="emp" type="ns1:Emp"/>
            </sequence>
        </complexType>
    </element>
    <element name="mergeEmpResponseElement">
        <complexType>
            <sequence>
                <element name="result" type="ns1:Emp"/>
            </sequence>
        </complexType>
    </element>
    <element name="findEmpElement">
        <complexType>
            <sequence>
                <element name="findCriteria" type="ns0:FindCriteria"/>
                <element name="findControl" type="ns0:FindControl"/>
            </sequence>
        </complexType>
    </element>
    <element name="findEmpResponseElement">
        <complexType>
            <sequence>
                <element name="result" type="ns1:Emp" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>
    <element name="findClerksElement">
        <complexType>
            <sequence>
                <element name="findCriteria" type="ns0:FindCriteria"/>
                <element name="findControl" type="ns0:FindControl"/>
            </sequence>
        </complexType>
    </element>
    <element name="findClerksResponseElement">
        <complexType>
            <sequence>
                <element name="result" type="ns1:Emp" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>
    <element name="findEmpsByJobElement">
        <complexType>
            <sequence>
                <element name="findCriteria" type="ns0:FindCriteria"/>
                <element name="job" type="string"/>
                <element name="findControl" type="ns0:FindControl"/>
            </sequence>
        </complexType>
    </element>
    <element name="findEmpsByJobResponseElement">
        <complexType>
            <sequence>
                <element name="result" type="ns1:Emp" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>
    <element name="processEmpElement">
        <complexType>
            <sequence>
                <element name="changeOperation" type="string"/>
                <element name="emp" type="ns1:Emp" minOccurs="0" maxOccurs="unbounded"/>
                <element name="processControl" type="ns0:ProcessControl"/>
            </sequence>
        </complexType>
    </element>
    <element name="processEmpResponseElement">
        <complexType>
            <sequence>
                <element name="result" type="ns1:Emp" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>
    <element name="processCSEmpElement">
        <complexType>
            <sequence>
                <element name="processData" type="ns0:ProcessData"/>
                <element name="processControl" type="ns0:ProcessControl"/>
            </sequence>
        </complexType>
    </element>
    <element name="processCSEmpResponseElement">
        <complexType>
            <sequence>
                <element name="result" type="ns0:ProcessData"/>
            </sequence>
        </complexType>
    </element>
</schema>
