sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/helper/xmlhelper/changesummary/bug6120161/Process.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified"
            targetNamespace="http://example.com/process/"
            xmlns="http://example.com/process/"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:sdo="commonj.sdo"
            xmlns:sdoJava="commonj.sdo/java"
            sdoJava:package="com.mypackage">
  <xsd:element name="processData" type="ProcessData"/>
   <xsd:complexType name="Result">
      <xsd:sequence>
         <xsd:element name="Message" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
  <xsd:complexType name="ProcessData">
    <xsd:complexContent>
      <xsd:extension base="Result">
        <xsd:sequence>
          <xsd:element name="Value" type="xsd:anyType" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="ChangeSummary" type="sdo:ChangeSummaryType" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
