sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/helper/xmlhelper/orderbooking/OrderBookingRules.xsd

<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0,
    or the Eclipse Distribution License v. 1.0 which is available at
    http://www.eclipse.org/org/documents/edl-v10.php.

    SPDX-License-Identifier: EPL-2.0 OR BSD-3-Clause

-->

<xsd:schema targetNamespace="http://www.globalcompany.com/ns/OrderBooking/rules"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified">
 <xsd:element name="approve">
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element name="price" type="xsd:double"/>
    <xsd:element name="status" type="xsd:string"/>
    <xsd:element name="approvalRequired" type="xsd:boolean"/>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>
</xsd:schema>
