moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/xmlelementref/prefixes2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:childPrefix="namespace2" xmlns:ns0="namespace3" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="namespace2">
   <xsd:import namespace="namespace3" schemaLocation="schema3.xsd"/>
   <xsd:complexType name="child">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="id" type="xsd:string"/>
         <xsd:element minOccurs="0" ref="ns0:otherThing"/>
      </xsd:sequence>
      <xsd:attribute name="href" type="xsd:anyURI" use="required"/>
   </xsd:complexType>
   <xsd:element name="child" type="childPrefix:child"/>
</xsd:schema>
