moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/xmlelements/root.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:element name="root">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:choice maxOccurs="unbounded">
               <xsd:element minOccurs="0" name="string" type="xsd:string"/>
               <xsd:element minOccurs="0" ref="root"/>
            </xsd:choice>
         </xsd:sequence>
         <xsd:attribute name="theName" type="xsd:string"/>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>
