moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/listofobjects/arrays.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://jaxb.dev.java.net/array" targetNamespace="http://jaxb.dev.java.net/array">
   <xsd:complexType name="decimalArray">
      <xsd:sequence>
         <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="xsd:decimal"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="QNameArray">
      <xsd:sequence>
         <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="xsd:QName"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="stringArray">
      <xsd:sequence>
         <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="integerArray">
      <xsd:sequence>
         <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="xsd:integer"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>