moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/listofobjects/employeesAndIntegers2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="listOfObjectsNamespace">
   <xsd:import namespace="listOfObjectsNamespace" schemaLocation="schema2.xsd"/>
   <xsd:complexType name="listOfInteger">
      <xsd:sequence>
         <xsd:element name="item" nillable="true" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="listOfEmployee">
      <xsd:sequence>
         <xsd:element name="item" nillable="true" type="ns0:employee" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
