moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/listofobjects/innerClassArray.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="listOfObjectsNamespace" xmlns:x="listOfObjectsNamespace" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="myInnerArray">
      <xsd:sequence>
         <xsd:element name="item" type="x:myInner" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>  
   <xsd:complexType name="myInner">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="innerName" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
