moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/listofobjects/innerClassMap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="listOfObjectsNamespace" xmlns:x="listOfObjectsNamespace" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="myInnerMyInnerTreeMap">
      <xsd:sequence>
         <xsd:element maxOccurs="unbounded" minOccurs="0" name="entry">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" name="key" type="x:myInner"/>
                  <xsd:element minOccurs="0" name="value" type="x:myInner"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="myInner">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="innerName" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>