moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/listofobjects/int2DArray.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://jaxb.dev.java.net/array" targetNamespace="http://jaxb.dev.java.net/array">
   <xsd:complexType name="intArrayArray">
      <xsd:sequence>
         <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="ns0:intArray"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="intArray">
      <xsd:sequence>
         <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:int"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
