moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/listofobjects/integer3DArray.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://jaxb.dev.java.net/array" targetNamespace="http://jaxb.dev.java.net/array">
   <xsd:complexType name="integerArray">
      <xsd:sequence>
         <xsd:element maxOccurs="unbounded" nillable="true" minOccurs="0" name="item" type="xsd:int"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="integerArrayArray">
      <xsd:sequence>
         <xsd:element maxOccurs="unbounded" nillable="true" minOccurs="0" name="item" type="ns0:integerArray"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="integerArrayArrayArray">
      <xsd:sequence>
         <xsd:element maxOccurs="unbounded" nillable="true" minOccurs="0" name="item" type="ns0:integerArrayArray"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
