moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/listofobjects/multipleMaps2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="myns" targetNamespace="myns">
   <xsd:complexType name="personJobMap">
      <xsd:sequence>
         <xsd:element maxOccurs="unbounded" minOccurs="0" name="entry">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" name="key" type="ns1:person"/>
                  <xsd:element minOccurs="0" name="value" type="ns1:job"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="person">
      <xsd:sequence/>
   </xsd:complexType>
   <xsd:complexType name="job">
      <xsd:sequence/>
   </xsd:complexType>
</xsd:schema>