moxy/org.eclipse.persistence.moxy.maven/src/test/resources/org/eclipse/persistence/testing/jaxb/listofobjects/integer3DArray.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0,
    or the Eclipse Distribution License v. 1.0 which is available at
    http://www.eclipse.org/org/documents/edl-v10.php.

    SPDX-License-Identifier: EPL-2.0 OR BSD-3-Clause

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://jaxb.dev.java.net/array" targetNamespace="http://jaxb.dev.java.net/array">
   <xsd:complexType name="intArray">
      <xsd:sequence>
         <xsd:element maxOccurs="unbounded" nillable="true" minOccurs="0" name="item" type="xsd:int"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="intArrayArray">
      <xsd:sequence>
         <xsd:element maxOccurs="unbounded" nillable="true" minOccurs="0" name="item" type="ns0:intArray"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="intArrayArrayArray">
      <xsd:sequence>
         <xsd:element maxOccurs="unbounded" nillable="true" minOccurs="0" name="item" type="ns0:intArrayArray"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
