moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/schemagen/imports/url/employee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:ns0="a" xmlns:ns1="b" xmlns:ns2="c" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="a">
   <xsd:import schemaLocation="http://someuri.com/myschema.xsd" namespace="b"/>
   <xsd:import schemaLocation="http://someuri.com/myschema.xsd" namespace="c"/>
   <xsd:complexType name="employee">
      <xsd:sequence>
         <xsd:element name="name" type="xsd:string" minOccurs="0"/>
         <xsd:element name="address" type="ns1:address" minOccurs="0"/>
         <xsd:element name="gender" type="ns2:gender" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
