moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/externalizedmetadata/mappings/composite/multiplenamespaces/address.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:ns0="http://www.example.com/address" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.com/address">
   <xsd:complexType name="address">
      <xsd:all>
         <xsd:element name="city" type="xsd:string"/>
         <xsd:element name="street" type="xsd:string"/>
         <xsd:element name="province" type="xsd:string"/>
         <xsd:element name="postalCode" type="xsd:string"/>
      </xsd:all>
   </xsd:complexType>
   <xsd:element name="home-address" type="ns0:address"/>
</xsd:schema>
