moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/externalizedmetadata/mappings/composite/multiplenamespaces/address.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0

-->

<xsd:schema xmlns:ns0="http://www.example.com/address" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.com/address">
   <xsd:complexType name="address">
      <xsd:sequence>
         <xsd:element form="qualified" name="city" type="xsd:string"/>
         <xsd:element name="street" type="xsd:string" minOccurs="0"/>
         <xsd:element name="province" type="xsd:string" minOccurs="0"/>
         <xsd:element name="postalCode" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="home-address" type="ns0:address"/>
</xsd:schema>
