moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/externalizedmetadata/xmlmetadatacomplete/employee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="employee">
      <xsd:sequence>
         <xsd:element name="things" type="xsd:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="fooOrBar" type="xsd:anySimpleType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="name" type="xsd:string" minOccurs="0"/>
         <xsd:element name="id" type="xsd:int"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
