moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/unmarshaller/default.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="element" type="xs:string" default="FOO"/>
            </xs:sequence>
            <xs:attribute name="attribute" type="xs:string" default="BAR"/>
        </xs:complexType>
    </xs:element>
</xs:schema>