moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/typemappinginfo/xsitype/self/request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:ns0="someuri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="someuri">
   <xsd:complexType name="employee">
      <xsd:sequence>
         <xsd:element name="name" type="xsd:string" minOccurs="0"/>
         <xsd:element name="id" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="response" type="xsd:anyType"/>
   <xsd:element name="employee" type="ns0:employee"/>
</xsd:schema>