sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/model/dataobject/schema-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    targetNamespace="http://www.example.org"
    xmlns:tns="http://www.example.org"
    elementFormDefault="qualified">

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="child" type="child"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="child">
        <xsd:sequence>
            <xsd:element name="original-prop" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>
