sdo/org.eclipse.persistence.sdo/src/test/resources/org/eclipse/persistence/testing/sdo/helper/xmlhelper/changesummary/bug6346754/Address.xsd

<!--

    Copyright (c) 2018, 2021 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<xsd:schema targetNamespace="http://example.com/address/" xmlns="http://example.com/address/"
     elementFormDefault="qualified" sdoJava:package="mypackage.address"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sdoJava="commonj.sdo/java" xmlns:ns0="http://example.com/process/">
    <xsd:import schemaLocation="Process.xsd" namespace="http://example.com/process/"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="classpath:/xml/sdoJava.xsd"/>
    <xsd:complexType name="Address">
        <xsd:sequence>
            <xsd:element name="AddressId" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="AddressName" type="xsd:string" minOccurs="0"/>
            <xsd:element name="AddressLine1" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="AddressLine2" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="AddressLine3" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Description" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="EmailAddress" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Country" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="TownOrCity" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="PostalCode" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="TelephoneNumber1" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="TelephoneNumber2" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="TelephoneNumber3" type="xsd:string" minOccurs="0" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AddressResult">
        <xsd:complexContent>
            <xsd:extension base="ns0:MethodResult">
                <xsd:sequence>
                    <xsd:element name="Value" type="Address" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="addressResult" type="AddressResult"/>
    <xsd:element name="address" type="Address"/>
</xsd:schema>
