sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/helper/xmlhelper/nillable/DirectOptionalNodeNullPolicyElement.xsd

<xsd:schema targetNamespace="http://www.example.org"
            xmlns="http://www.example.org"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xsd:element name="employee" type="EmployeeType" />
	<xsd:complexType name="EmployeeType">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string" />
			<xsd:element name="task" type="xsd:string" />
			<xsd:element name="last-name" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>