moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/annotations/xmlpaths/employee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="employee">
      <xsd:sequence>
         <xsd:choice>
            <xsd:element name="integers" minOccurs="0">
               <xsd:complexType>
                  <xsd:choice>
                     <xsd:element name="my-integer" minOccurs="0">
                        <xsd:complexType>
                           <xsd:choice>
                              <xsd:element name="sval" type="xsd:string" minOccurs="0"/>
                           </xsd:choice>
                           <xsd:attribute name="ival" type="xsd:int"/>
                        </xsd:complexType>
                     </xsd:element>
                  </xsd:choice>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="floats" minOccurs="0">
               <xsd:complexType>
                  <xsd:choice>
                     <xsd:element name="my-float" type="xsd:float" minOccurs="0"/>
                  </xsd:choice>
               </xsd:complexType>
            </xsd:element>
         </xsd:choice>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="employee" type="employee"/>
</xsd:schema>
