moxy/org.eclipse.persistence.moxy.maven/src/test/resources/org/eclipse/persistence/testing/jaxb/inheritance/schema0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0,
    or the Eclipse Distribution License v. 1.0 which is available at
    http://www.eclipse.org/org/documents/edl-v10.php.

    SPDX-License-Identifier: EPL-2.0 OR BSD-3-Clause

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="e-type">
      <xsd:complexContent>
         <xsd:extension base="b-type">
            <xsd:sequence>
               <xsd:element name="foo" type="xsd:int"/>
               <xsd:element name="ccc" type="xsd:int"/>
               <xsd:element name="ddd" type="xsd:int"/>
               <xsd:element name="eee" type="xsd:int"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="a-type">
      <xsd:sequence>
         <xsd:element name="aaa" type="xsd:int"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="b-type">
      <xsd:complexContent>
         <xsd:extension base="a-type">
            <xsd:sequence>
               <xsd:element name="bbb" type="xsd:int"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:element name="a-element" type="a-type"/>
</xsd:schema>
