moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/xmlelementwrapper/schema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://www.somenamespace.org/" targetNamespace="http://www.somenamespace.org/">
   <xsd:complexType name="department">
      <xsd:sequence>
         <xsd:element form="qualified" minOccurs="0" name="name" type="xsd:string"/>
         <xsd:element form="qualified" minOccurs="0" name="employees">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="employee" type="ns0:employee"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="employee">
      <xsd:sequence>
         <xsd:element form="qualified" name="id" type="xsd:int"/>
         <xsd:element form="qualified" minOccurs="0" name="name" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="department" type="ns0:department"/>
   <xsd:element name="employee" type="ns0:employee"/>
</xsd:schema>
