sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/helper/jaxbhelper/isset/isset.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0

-->

<xs:schema elementFormDefault="qualified" targetNamespace="urn:isset" xmlns:tns="urn:isset" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sdox="commonj.sdo/xml">
        <xs:import namespace="commonj.sdo/xml" />
    <xs:element name="root-element" type="tns:root"/>
    <xs:complexType name="root">
                <xs:sequence>
                        <xs:element name="child" type="tns:child"/>
                        <xs:element name="child-many" type="tns:child" maxOccurs="unbounded"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="child">
                <xs:sequence>
                        <xs:element name="value" type="xs:string"/>
                </xs:sequence>
        </xs:complexType>
</xs:schema>
