sdo/org.eclipse.persistence.sdo/src/test/resources/org/eclipse/persistence/testing/sdo/helper/xmlhelper/empty/input.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<!--

    Copyright (c) 2018, 2021 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<xsd:schema targetNamespace="namespace1"
 xmlns:ns0="namespace1"
 xmlns:sdo="commonj.sdo" xmlns:sdoJava="commonj.sdo/java"
 elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:import namespace="commonj.sdo" schemaLocation="datagraph.xsd"/>
   <xsd:element name="root" type="ns0:RootType"/>
   <xsd:complexType name="RootType">
      <xsd:sequence>
         <xsd:element name="nillableEmptyString" type="xsd:string"  nillable="true"/>
         <xsd:element name="nillableNilString" type="xsd:string" nillable="true"/>
         <xsd:element name="nonnillableEmptyString" type="xsd:string" nillable="false"/>
         <xsd:element name="nonnillableNilString" type="xsd:string" nillable="false"/>

         <xsd:element name="nillableEmptyDecimal" type="xsd:decimal" nillable="true"/>
         <xsd:element name="nillableNilDecimal" type="xsd:decimal"  nillable="true"/>
         <xsd:element name="nonnillableEmptyDecimal" type="xsd:decimal" nillable="false"/>
         <xsd:element name="nonnillableNilDecimal" type="xsd:decimal"  nillable="false"/>

      </xsd:sequence>
   </xsd:complexType>

</xsd:schema>
