moxy/org.eclipse.persistence.moxy/src/test/resources/org/eclipse/persistence/testing/jaxb/listofobjects/externalizedmetadata/typedlist.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--

    Copyright (c) 2018, 2021 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="company">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="departmentIdToName">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element maxOccurs="unbounded" minOccurs="0" name="entry">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element minOccurs="0" name="key" type="xsd:int"/>
                           <xsd:element minOccurs="0" name="value" type="xsd:string"/>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element maxOccurs="unbounded" minOccurs="0" name="departments" type="xsd:int"/>
         <xsd:element minOccurs="0" name="int-to-object">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element maxOccurs="unbounded" minOccurs="0" name="entry">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element minOccurs="0" name="key" type="xsd:int"/>
                           <xsd:element minOccurs="0" name="value" type="xsd:anyType"/>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="object-to-int">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element maxOccurs="unbounded" minOccurs="0" name="entry">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element minOccurs="0" name="key" type="xsd:anyType"/>
                           <xsd:element minOccurs="0" name="value" type="xsd:int"/>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="object-to-string">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element maxOccurs="unbounded" minOccurs="0" name="entry">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element minOccurs="0" name="key" type="xsd:anyType"/>
                           <xsd:element minOccurs="0" name="value" type="xsd:string"/>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
