moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/typemappinginfo/conflict/schema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:ns0="namespace1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="namespace1" elementFormDefault="qualified">
   <xsd:complexType name="thing">
      <xsd:sequence>
         <xsd:element name="something" type="xsd:int"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="otherThing">
      <xsd:sequence>
         <xsd:element name="someProperty" type="xsd:int"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="thing" type="ns0:thing"/>
   <xsd:element name="otherThing" type="ns0:otherThing"/>
</xsd:schema>