sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/helper/xsdhelper/define/simpletypes/SimpleTypeWithListItem.xsd

<?xml version='1.0' encoding='US-ASCII'?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0

-->

    <xsd:schema xmlns:xsd='http://www.w3.org/2001/XMLSchema'
           xmlns='http://www.example.org'
           targetNamespace='http://www.example.org'
           elementFormDefault='qualified'>
        <xsd:simpleType name='my-int'>
             <xsd:list itemType='xsd:int' />
        </xsd:simpleType>

        <xsd:complexType name='testComplexType'>
          <xsd:sequence>
            <xsd:element name='testElement' type='my-int'/>
          </xsd:sequence>
        </xsd:complexType>
    </xsd:schema>
