moxy/org.eclipse.persistence.moxy.maven/src/test/resources/org/eclipse/persistence/testing/jaxb/externalizedmetadata/xmlelements/schema_idref.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0,
    or the Eclipse Distribution License v. 1.0 which is available at
    http://www.eclipse.org/org/documents/edl-v10.php.

    SPDX-License-Identifier: EPL-2.0 OR BSD-3-Clause

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="phone">
      <xsd:sequence>
         <xsd:element name="id" type="xsd:ID" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="address">
      <xsd:sequence>
         <xsd:element name="id" type="xsd:ID" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="bar">
      <xsd:sequence>
         <xsd:element name="contact" minOccurs="0">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:choice maxOccurs="unbounded">
                     <xsd:element name="address" type="xsd:IDREF" minOccurs="0"/>
                     <xsd:element name="phone" type="xsd:IDREF" minOccurs="0"/>
                  </xsd:choice>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="bar" type="bar"/>
</xsd:schema>
