sdo/org.eclipse.persistence.sdo/src/test/resources/org/eclipse/persistence/testing/sdo/helper/xmlhelper/changesummary/bug6120161/HRAppService.xsd

<!--

    Copyright (c) 2018, 2021 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://example.com/app/"
     xmlns:tns="http://example.com/app/" xmlns:ns0="http://example.com/process/"
     xmlns:ns1="http://example.com/dept/">
    <import namespace="http://example.com/dept/" schemaLocation="Dept.xsd"/>
    <import namespace="http://example.com/dept/" schemaLocation="Emp.xsd"/>
    <import namespace="http://example.com/process/" schemaLocation="Process.xsd"/>
    <element name="processCSDeptElement">
        <complexType>
            <sequence>
                <element name="processData" type="ns0:ProcessData"/>
            </sequence>
        </complexType>
    </element>
    <element name="processCSDeptResponseElement">
        <complexType>
            <sequence>
                <element name="result" type="ns0:ProcessData"/>
            </sequence>
        </complexType>
    </element>
</schema>
