moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/externalizedmetadata/xmlaccessortype/packagelevel/classoverride/employee-package-classoverride.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="employee">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="firstName" type="xsd:string"/>
         <xsd:element minOccurs="0" name="lastName" type="xsd:string"/>
         <xsd:element name="id" type="xsd:int"/>
         <xsd:element name="isSet" type="xsd:boolean"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="employee-type" type="employee"/>
</xsd:schema>