sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/helper/xmlhelper/withoutxsd/PurchaseOrderCS.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.example.org"
	    xmlns:sdo="commonj.sdo"
            targetNamespace="http://www.example.org"
            elementFormDefault="unqualified"
            attributeFormDefault="unqualified"> 

	<xsd:element name="purchaseOrder" type="PurchaseOrderType"/>

     <xsd:complexType name="AddressType">
        <xsd:attribute name="country" type="xsd:string"/>
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="street" type="xsd:string"/>
            <xsd:element name="city" type="xsd:string"/>
            <xsd:element name="state" type="xsd:string"/>
            <xsd:element name="zip" type="xsd:string"/>
            <xsd:any minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="LineItemType">
        <xsd:attribute name="partNum" type="xsd:string"/>
        <xsd:all>
            <xsd:element name="productName" type="xsd:string"/>
            <xsd:element name="quantity" type="xsd:int"/>
            <xsd:element name="USPrice" type="xsd:float"/>
	    <xsd:element name="shipDate" type="xsd:date"/>
            <xsd:element name="comment" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="Items">
        <xsd:sequence>
            <xsd:element name="item" type="LineItemType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PurchaseOrderType">
        <xsd:sequence>
            <xsd:element name="poId" type="xsd:string"/>
            <xsd:element name="shipTo" type="AddressType"/>
            <xsd:element name="billTo" type="AddressType"/>
            <xsd:element name="comment" type="xsd:string"/>
            <xsd:element name="items" type="Items"/>
            <xsd:element name="theCS" type="sdo:ChangeSummaryType"/>
            <xsd:any minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="orderDate" type="xsd:date"/>
    </xsd:complexType>

</xsd:schema>
