moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/annotations/xmlpath/predicate/adapter/atom.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0

-->

<xsd:schema xmlns:ns0="http://www.w3.org/2005/Atom" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.w3.org/2005/Atom">
   <xsd:element name="link">
      <xsd:complexType>
         <xsd:sequence/>
         <xsd:attribute name="href" type="xsd:string"/>
         <xsd:attribute name="rel" type="xsd:string"/>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>
