moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/jaxb/annotations/xmlnametransformer/employeeUpper.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:x="examplenamespace" targetNamespace="examplenamespace">
   <xsd:complexType name="ORG.ECLIPSE.PERSISTENCE.TESTING.JAXB.ANNOTATIONS.XMLNAMETRANSFORMER.UPPER.EMPLOYEE">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="FIRSTNAME" type="xsd:string"/>
         <xsd:element minOccurs="0" name="lastname" type="xsd:string"/>
         <xsd:element minOccurs="0" name="ADDRESS" type="x:ORG.ECLIPSE.PERSISTENCE.TESTING.JAXB.ANNOTATIONS.XMLNAMETRANSFORMER.UPPER.ADDRESS"/>
         <xsd:element minOccurs="0" name="responsibilities">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element maxOccurs="unbounded" minOccurs="0" name="responsibility" type="xsd:anyType"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element maxOccurs="unbounded" minOccurs="0" name="RESPONSIBILITIES2" nillable="true" type="xsd:anyType"/>
         <xsd:element name="SOMENUMBER" type="xsd:int"/>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:int" use="required"/>
      <xsd:attribute name="BIRTHDAY" type="xsd:dateTime"/>
   </xsd:complexType>
   <xsd:complexType name="ORG.ECLIPSE.PERSISTENCE.TESTING.JAXB.ANNOTATIONS.XMLNAMETRANSFORMER.UPPER.ADDRESS">
      <xsd:sequence>
         <xsd:element name="ID" type="xsd:int"/>
         <xsd:element minOccurs="0" name="CITYNAME" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="employee-data" type="x:ORG.ECLIPSE.PERSISTENCE.TESTING.JAXB.ANNOTATIONS.XMLNAMETRANSFORMER.UPPER.EMPLOYEE"/>
</xsd:schema>
