moxy/eclipselink.moxy.test/resource/org/eclipse/persistence/testing/oxm/jaxb/UnmarshallCollection.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="someUri" xmlns:ns0="someUri" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="details">
      <xsd:sequence>
         <xsd:element minOccurs="0" name="firstName" type="xsd:string"/>
         <xsd:element name="accountNumber" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="testTagName1" type="ns0:details"/>
</xsd:schema>
