sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/schemas/customerurl2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0

-->

<xsd:schema targetNamespace="my.url2" xmlns="my.url2" elementFormDefault="qualified" sdoJava:package="defaultPackage" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sdoJava="commonj.sdo/java">
   <xsd:complexType name="PhoneType" sdoJava:instanceClass="defaultPackage.PhoneType">
      <xsd:attribute name="number" type="xsd:string"/>
   </xsd:complexType>
   <xsd:complexType name="AddressType">
      <xsd:attribute name="street" type="xsd:string"/>
   </xsd:complexType>
</xsd:schema>
