sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/schemas/DirectIsSetOptionalNodeNullPolicyWithoutDefaultsAttribute.xsd

<xsd:schema targetNamespace="http://www.example.org"
            xmlns="http://www.example.org"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xsd:element name="employee" type="EmployeeType" />
	<xsd:complexType name="EmployeeType">
		<xsd:attribute name="id" type="xsd:int"/>
		<xsd:attribute name="firstname" type="xsd:string"/>
		<xsd:attribute name="lastname" type="xsd:string"/>
	</xsd:complexType>
</xsd:schema>