sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/schemas/DirectIsSetOptionalNodeNullPolicyWithoutDefaultsNumericPrimsElement.xsd

<xsd:schema targetNamespace="http://www.example.org"
            xmlns="http://www.example.org"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xsd:element name="employee" type="EmployeeType" />
	<xsd:complexType name="EmployeeType">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:int"/>
			<xsd:element name="firstname" type="xsd:string"/>
			<xsd:element name="task" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="lastname" type="xsd:string"/>
			<xsd:element name="int_prop" type="xsd:int"/>
			<xsd:element name="boolean_prop" type="xsd:boolean"/>			
			<xsd:element name="short_prop" type="xsd:short"/>
			<xsd:element name="long_prop" type="xsd:long"/>
			<!-- unsupported character (single string -->
			<xsd:element name="character_prop" type="xsd:int"/>			
			<xsd:element name="byte_prop" type="xsd:byte"/>
			<xsd:element name="double_prop" type="xsd:double"/>
			<xsd:element name="float_prop" type="xsd:float"/>			
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>