sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/schemas/EmployeeWithMimeTypeOnProperty.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0

-->

<xsd:schema targetNamespace="http://www.example.org" xmlns="http://www.example.org" elementFormDefault="qualified" sdoJava:package="defaultPackage" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sdoJava="commonj.sdo/java" xmlns:ns0="org.eclipse.persistence.sdo">
   <xsd:complexType name="EmployeeType">
      <xsd:sequence>
         <xsd:element name="id" type="xsd:string" minOccurs="0"/>
         <xsd:element name="name" type="xsd:string" minOccurs="0"/>
         <xsd:element name="photo" type="xsd:base64Binary" minOccurs="0" ns0:mimeTypeProperty="photoMimeType"/>
         <xsd:element name="photoMimeType" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="employeeType" type="EmployeeType"/>
</xsd:schema>
