sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/schemas/GlobalElementsByName.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="my.uri" xmlns="my.uri" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sdoXML="commonj.sdo/xml">
   <xsd:complexType name="AddressType">
      <xsd:attribute name="street" type="xsd:string"/>
   </xsd:complexType>
   <xsd:complexType name="CustomerType">
      <xsd:sequence>
         <xsd:element name="addressType" type="AddressType" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="customerType" type="CustomerType"/>
   <xsd:element name="addressType" type="AddressType" sdoXML:name="addressTypeSDO"/>
   <xsd:attribute name="customerTypeAttr" type="CustomerType"/>
   <xsd:attribute name="addressTypeAttr" type="AddressType" sdoXML:name="addressTypeAttrSDO"/>
</xsd:schema>
