sdo/eclipselink.sdo.test/resource/org/eclipse/persistence/testing/sdo/schemas/NestedBaseTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.example.org" xmlns="http://www.example.org" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified"> 
<xsd:complexType name="Root">
        <xsd:sequence>
		<xsd:sequence>
	  		<xsd:sequence>
			            <xsd:element name="RootA" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
				    <xsd:element name="RootB" type="xsd:string" minOccurs="0"/>
 		     	</xsd:sequence>
		</xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Sub1">
      <xsd:complexContent>
         <xsd:extension base="Root">
            <xsd:sequence>
               <xsd:element name="Sub1Elem" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
            <xsd:attribute name="Sub1Attr" type="xsd:int"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="Sub2">
      <xsd:complexContent>
         <xsd:extension base="Sub1">
            <xsd:sequence>
               <xsd:element name="Sub2Elem" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
            <xsd:attribute name="Sub2Attr" type="xsd:int"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="Sub2Sibling">
      <xsd:complexContent>
         <xsd:extension base="Sub1">
            <xsd:sequence>
               <xsd:element name="Sub2SiblingElem" type="xsd:string" minOccurs="0"/>
               <xsd:element name="Sub2SiblingElem2" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
            <xsd:attribute name="Sub2SiblingAttr" type="xsd:int"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
     <xsd:complexType name="Sub3">
      <xsd:complexContent>
         <xsd:extension base="Sub1">           
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
     <xsd:complexType name="Sub4">
      <xsd:complexContent>
         <xsd:extension base="Sub3">
            <xsd:sequence>
               <xsd:element name="Sub4Elem" type="xsd:string" minOccurs="0"/>
               <xsd:element name="Sub4Elem2" type="xsd:string" minOccurs="0"/>
               <xsd:element name="Sub4Elem3" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="Sub4Attr" type="xsd:int"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
</xsd:schema>